.c-arrow-link {
  position: relative;
  font-size: em(14);
  font-weight: $medium;
  letter-spacing: 2px;
  color: $darker-gray;
  text-transform: uppercase;

  &:hover svg {
    right: -17px;
    fill: $brand-secondary;
  }

  svg {
    position: absolute;
    top: 2px;
    right: -12px;
    transform: translateX(100%);
    display: inline-block;
    fill: $darker-gray;
    transition: all $transition-duration;
  }
}
