.c-gallery {
  //
}

/* stylelint-disable */
#baguetteBox-overlay {
  .full-image img {
    width: 1063px;
    // height: 602px;
    box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);
    background-color: $white;

    @include mobile {
      height: auto;
      width: 100%;
    }
  }

  #next-button,
  #previous-button {
    height: 53px;
    width: 54px;
    border-radius: 0;
    background-color: $brand-primary;
    transition: all $transition-duration;

    &:hover {
      background-color: $brand-secondary;
    }

    svg {
      position: relative;
      left: 3px;
      top: -2px;
      display: block;
      height: 100%;
      width: 100%;
      transform: scale(0.6);

      polyline {
        stroke: #fff !important;
      }
    }
  }

  #next-button {
    right: calc(50vw - (1063px / 2));
  }

  #previous-button {
    left: calc(50vw - (1063px / 2));
  }

  #close-button {
    background-color: transparent;

    svg {
      line {
        stroke: $brand-secondary-dark;
        stroke-width: 2px;
      }
    }
  }
}
/* stylelint-enable */
