// ==================================================
// Notifications
// ==================================================

.c-notification {
  $top: &;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -200;
  display: flex;
  align-items: center;
  width: 100vw;
  min-width: 1370px;
  height: 60px;
  padding: 0 25px;
  text-align: center;
  background-color: $brand-secondary;
  transition: all $transition-duration;
  transform: translateY(100%);

  @include mobile {
    height: auto;
    width: 100%;
    top: 70px;
    padding-top: 25px;
    line-height: 1.8;
  }

  &--success,
  &--success p {
    background-color: $brand-success;
    color: $white;
  }

  &--info,
  &--info p {
    color: $white;
  }

  &--hidden {
    transform: translateY(0);
  }

  &__icon svg,
  &__close svg {
    display: block;
    fill: $white;
  }

  &__icon {
    margin-right: 20px;
  }

  &__message {
    flex-grow: 1;

    p {
      font-size: em(15);
      font-weight: 500;
      color: $white;
    }
  }

  &__close {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    svg {
      transition: fill $transition-duration;
    }

    &:hover svg {
      fill: $brand-primary;
    }
  }
}
