.c-option-card {
  color: #8d9092;
  position: relative;
  width: 357px;
  margin: 0 13px 34px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);
  cursor: pointer;
  transform-origin: center;
  transition: all $transition-duration;

  @include mobile {
    width: 100%;
    margin: 0 0 30px;
  }

  &:before {
    position: absolute;
    top: -25px;
    right: -25px;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('../svg/option-check.svg');
    background-position: center;
    background-color: $brand-secondary;
    transform-origin: center;
    transition: transform $transition-duration;
    content: '';

    @include desktop {
      transform: scale(0);
    }

    @include mobile {
      top: 25px;
      right: 25px;
      height: 41px;
      width: 41px;
      transform: none;
      background-color: transparent;
      transition: background-color $transition-duration;
      border: 1px solid $brand-secondary;
    }
  }

  &:hover {
    transform: scale(1.048);
  }

  &.is-selected {
    z-index: 1;
    box-shadow:
      0 4px 23px 0 rgba(182, 188, 193, 0.33),
      0 0 14px 0 rgba(0, 78, 149, 0.17),
      0 0 0 2px rgba(0, 78, 149, 0.46) inset;

    &:before {
      @include desktop {
        transform: scale(1.01) translate3d(0,0,0);
      }

      @include mobile {
        background-color: $brand-secondary;
      }
    }

    .c-option-card__qty {
      display: block;
    }
  }

  &--lg {
    .c-option-card__title {
      @include desktop {
        margin-bottom: 15px;
        font-size: em(21);
        letter-spacing: 0.2px;
      }

      @include mobile {
        margin-bottom: 5px;
      }
    }
  }

  &--mini {
    @include desktop {
      width: 234px;
      margin-right: 44px;

      &:not(:first-child) {
        margin-left: 0;
      }

      .c-option-card__main {
        padding: 36px 30px;
      }
    }
  }

  &__qty {
    display: none;
    width: 200px;
    margin: -50px auto 0;
    padding: 25px 50px;

    .l-form__label {
      display: none;
    }
  }

  &__label {
    position: relative;
    z-index: 1;
    position: absolute;
    top: -18px;
    left: 10px;
    height: 36px;
    padding: 0 15px;
    line-height: 36px;
    font-size: em(14);
    letter-spacing: 2px;
    font-weight: $bold;
    color: $white;
    text-transform: uppercase;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      background-color: $brand-secondary;
      border-radius: 0 0 7px 7px;
      content: '';
    }

    &:after {
      position: absolute;
      top: -18px;
      right: -18px;
      transform: scaleX(0.6);
      z-index: -2;
      height: 0;
      width: 0;
      border: solid transparent;
      border-bottom-color: $brand-secondary-dark;
      border-width: 18px;
      pointer-events: none;
      content: '';
    }
  }

  &__main {
    padding: 25px 0 0;
    text-align: center;
    min-height: 125px;

    @include mobile {
      padding: 20px 25px;
      text-align: left;
      border-bottom: 1px solid $lighter-gray;
      width: calc(100% - 4px);
      margin-left: 2px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-size: em(19);
    color: $black;

    @include mobile {
      margin-bottom: 5px;
    }
  }

  &__price {
    font-size: em(14);
    font-weight: $medium;
    letter-spacing: 0.4px;
    color: $gray;
  }

  &__note {
    margin-top: 5px;
    font-size: em(13);
    font-style: italic;
    letter-spacing: 0.5px;
    color: $gray;
  }

  &__features {
    margin: 0 0 15px;
    padding: 0 15px;
    list-style: none;

    @include mobile {
      padding: 15px 25px;
    }
  }

  &__feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: em(14);

    @include desktop {
      padding: 13px 15px 13px 10px;

      &:not(:last-child) {
        border-bottom: 1px solid $lighter-gray;
      }
    }

    @include mobile {
      font-size: em(13);

      &:not(:first-child):not(:nth-child(2)) {
        display: none;
        padding: 0;
        border-bottom: 0;

        &.is-included {
          display: inline-block;
        }

        &:not(:nth-child(3)):before {
          display: inline-block;
          margin-left: -4px;
          margin-right: 5px;
          color: $gray;
          content: ', ';
        }
      }

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 10px;
        font-weight: $medium;

        div:last-child {
          color: $brand-primary-dark;
        }
      }

      &:nth-child(3):before {
        display: inline;
        color: $gray;
        font-weight: $medium;
        content: 'Includes: ';
      }
    }

    &-title {
      color: $gray;

      @include mobile {
        display: inline;
      }
    }

    &-value {
      color: $darker-gray;

      @include mobile {
        display: none;
      }
    }
  }

  &__more {
    display: block;
    width: 353px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    font-size: em(13);
    font-weight: $medium;
    letter-spacing: 1.5px;
    color: $brand-secondary;
    text-transform: uppercase;
    border: 0;
    border-top: 1px solid $lighter-gray;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    @include mobile {
      width: calc(100% - 4px);
      margin: 0 2px;
    }

    svg {
      fill: $brand-secondary;
    }
  }
}

.pos {
  &0 {
    background: #fbed90;
  }

  &1 {
    background: #d1e4f9;
  }

  &2 {
    background: #ececec;
  }
}
