.c-promo-card {
  display: flex;
  flex-direction: column;
  width: 343px;
  margin: 0 27px 60px;
  background-color: $white;
  box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);
  border-radius: 4px;
  overflow: hidden;
  transition: all $transition-duration;

  @media screen and (min-width: 790px) and (max-width: 991px) {
    margin: 0;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6.5px 28px 0 rgba(182, 188, 193, 0.33);
  }

  &__image {
    display: block;
    width: 343px;
    height: 230px;
    margin-bottom: 22px;
    object-fit: cover;
    flex-shrink: 0;
  }

  &__details {
    flex-grow: 1;
    position: relative;
    padding: 0 30px 86px;
  }

  &__title {
    margin-bottom: 13px;
    padding: 0 10px;
    font-size: em(20);
    font-weight: $medium;
    letter-spacing: 0.5px;
    color: $dark-gray;
  }

  &__summary {
    margin-bottom: 30px;
    padding: 0 10px;
    font-size: em(15);
    font-weight: $light;
    line-height: 1.67;
    letter-spacing: 0.1px;
    color: $darker-gray;
  }

  &__footer {
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: calc(100% - 60px);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-top: 1px solid #e5e9eb;
  }

  &__action {
    width: 247px;
  }
}
