.c-relocation-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 343px;
  padding: 33px 25px 99px;
  margin: 0 27px 60px;
  background-color: $white;
  box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);
  border-radius: 4px;
  overflow: hidden;
  transition: all $transition-duration;

  @media screen and (min-width: 790px) and (max-width: 991px) {
    margin: 0;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6.5px 28px 0 rgba(182, 188, 193, 0.33);
  }

  &__title {
    margin-bottom: 7px;
    font-size: em(20);
    font-weight: $medium;
    letter-spacing: 0.5px;
    color: $dark-gray;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-size: em(16);
    font-weight: $light;
    letter-spacing: 0.1px;
    color: $darker-gray;
  }

  &__dates {
    margin-top: 20px;
    margin-bottom: 24px;
    font-size: em(14);
    font-weight: $light;
    line-height: 1.86;
    letter-spacing: 0.4px;
    text-align: center;
    color: #222222;

    strong {
      display: block;
    }
  }

  &__footer {
    position: absolute;
    bottom: 20px;
    left: 25px;
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #e5e9eb;
  }

  &__pricing {
    flex-grow: 1;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    font-size: em(28);
    letter-spacing: -0.4px;
    color: #4a4a4a;

    span {
      position: relative;
      top: -4px;
      margin-left: 5px;
      font-size: 14px;
      letter-spacing: 0.3px;
    }

    &-period {
      font-size: em(12);
      font-weight: $medium;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      color: #777d84;
    }
  }
}
