.c-vehicle-card {
  width: 343px;
  margin: 0 0 70px;
  padding: 33px 20px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgba(78, 128, 161, 0.19);
  transform: scale(1);
  transform-origin: center;
  transition: all $transition-duration;
  overflow: hidden;

  @include mobile {
    width: 100%;
    margin-bottom: 30px;
  }

  @include desktop {
    &:hover {
      transform: scale(1.048);
      box-shadow: 0 10px 25px 0 rgba(78, 128, 161, 0.19);
    }
  }

  &__title,
  &__subtitle {
    padding: 0 8px;
    margin: unset;
  }

  &__title {
    margin-bottom: 4px;
    font-size: em(20);
    font-weight: $medium;
    letter-spacing: 0.5px;
    color: $dark-gray;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: em(15);
    font-weight: $light;
    text-align: center;
    height: em(30);
  }

  &__image {
    display: block;
    margin: 30px 0;
    text-align: center;
    height: 160px;

    img {
      height: 160px;
    }
  }

  &__specifications {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    list-style: none;
    align-content: flex-end;

    @media screen and (max-width: 400px) {
      flex-direction: column;
    }

    &-more {
      display: block;
      width: 100%;
      margin-bottom: 14px;
      font-size: em(13);
      font-weight: $medium;
      letter-spacing: 0.3px;
      color: #0056a7;
      text-align: center;
      border: 0;
      background-color: transparent;
      outline: none;
      cursor: pointer;

      svg {
        margin-right: 5px;
        fill: $light-gray;
      }

      &.is-active svg path:last-child {
        display: none;
      }

    }

    &.details {
      position: absolute;
      background: #fff;
      height: 220px;
      width: 100%;
      transition: all 0.1s ease-out 0.4s;
      align-content: center;
    }

    &.details.hidden {
      margin-top: -270px;
      opacity: 0;
    }

    &.details.active {
      opacity: 0.9;
      margin-top: -225px;
    }
  }

  &__specification {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 5px;
    font-size: em(13);
    color: $dark-gray;
    margin: unset;
    font-weight: unset;

    @media screen and (max-width: 400px) {
      width: 100%;
    }

    &--fw {
      width: 100%;
    }

    &-icon {
      display: block;
      height: 18px;
      margin-right: 10px;
    }

    &.is-hidden {
      display: none;
    }
  }

  &__footer {
    padding-top: 20px;
    border-top: 1px solid $lighter-gray;

    &--book {
      display: flex;
      align-items: center;
      margin-bottom: -20px;
    }
  }

  &__pricing {
    flex-grow: 1;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    font-size: em(24);
    letter-spacing: -0.4px;
    color: #4a4a4a;

    span {
      position: relative;
      top: -4px;
      margin-left: 5px;
      font-size: 14px;
      letter-spacing: 0.3px;
    }

    &-label {
      font-size: em(12);
      font-weight: $medium;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      color: #777d84;
    }
  }

  &__more.btn {
    display: block;
    width: 247px;
    margin: 0 auto;

    @include mobile {
      width: 100%;
      max-width: 247px;
    }
  }
}
