// ==================================================
// Mixins
// ==================================================

@mixin uppercase() {
  text-transform: uppercase;
  letter-spacing: $letter-spacing-base;
}

// Responsive mixins
// @mixin mobile {
//   @media screen and (max-width: 789px) {
//     @content;
//   }
// }
//
// @mixin desktop {
//   @media screen and (min-width: 790px) {
//     @content;
//   }
// }

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
    content: '';
  }
}

// px to em function

@function em($pixels, $context: $font-size-base) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

// Background image mixins
@mixin svg($path) {
  background-image: url('../svg/#{$path}');
}

@mixin background-image($path) {
  background-image: url('/themes/base/production/images/#{$path}');
}
