// ==================================================
// Variables
// ==================================================

// --------------------------------------------------
// Misc
// --------------------------------------------------

$transition-duration:   300ms;
$border-radius-base:    0;
$header-height:         101px;
$mob-header-height:     70px;

// --------------------------------------------------
// Colours
// --------------------------------------------------

$brand-primary:        #ffdd00;
$brand-primary-dark:   #f8c513;

$brand-secondary:      #0056a7;
$brand-secondary-dark: #00386c;

$brand-success:        #009956;
// $brand-info:           $brand-blue-ribbon;
// $brand-warning:        $brand-dark-violet;
// $brand-danger:         $brand-watermelon-pink;

$brand-facebook:       #346498;
$brand-google:         #ce4238;
$brand-twitter:        #4fb4eb;
$brand-linkedin:       #0077b5;

$black: 			         #000;
$darker-gray: 		     #1f2833; // Ace
$dark-gray: 		       #333338; // Ace
$gray: 				         #8d9092; // Ace
$light-gray:		       #b2b3b5; // Ace
$lighter-gray:         #e1e5e7; // Ace
$lightest-gray:		     #f1f4f5; // Ace
$white: 			         #fff;

$error:                #d0011b;


// --------------------------------------------------
// Body
// --------------------------------------------------

$body-bg:               $lightest-gray;
$site-main-bg:          $white;
$text-color:            $dark-gray;
$section-padding:       50px 0;
$page-padding:          80px 0 100px 0;


// --------------------------------------------------
// Fonts
// --------------------------------------------------
$font-family-roboto:     'Roboto', sans-serif;

$font-family-body: 		 $font-family-roboto;
$font-family-base: 		 $font-family-roboto;
$font-family-heading:  $font-family-roboto;

$font-size-base:       16px;
$font-size-large:      ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:      ceil(($font-size-base * 0.85)); // ~12px
$line-height-base: 		 1.8;

$light:                300;
$regular:				       400;
$medium:               500;
$semibold:				     600;
$bold:					       700;

// -------------------------
// Headings
// -------------------------
$h1-font-size:			   em(29);
$h1-font-weight:		   $light;

$h2-font-size:			   em(18);
$h2-font-weight:		   $light;

$h3-font-size:			   1.5em;
$h3-font-weight:		   $bold;

$h4-font-size:			   1.2em;
$h4-font-weight:		   $bold;

$h5-font-size:			   1.1em;
$h5-font-weight:		   $bold;

$h6-font-size:         0.9375em;
$h6-font-weight:       $regular;

$p-font-size:			     1em;
$small:					       $font-size-small;
$large:					       $font-size-large;

$letter-spacing-base:  0.1em;


// --------------------------------------------------
// Links
// --------------------------------------------------

$link-color:             $brand-primary;
$link-hover-color:       darken($brand-primary, 10%);
$link-hover-decoration:  underline;


// --------------------------------------------------
// Buttons
// --------------------------------------------------

$btn-font-family:        $font-family-roboto;
$btn-font-weight:        500;
$btn-letter-spacing:     1.1px;
$btn-text-transform:     uppercase;
$btn-border-width:       2px;
$btn-border-radius:      10px;

// -------------------------
// Btn Regular
// -------------------------

$btn-font-size:               em(13);
$btn-height:                  45px;
$btn-hrz-padding:             25px;
$btn-line-height:             calc(#{$btn-height} - 4px);

// -------------------------
// Btn Small
// -------------------------

$btn-height-small:            40px;
$btn-hrz-padding-small:       20px;
$btn-line-height-small:       calc(#{$btn-height-small} - 4px);

// -------------------------
// Btn Large
// -------------------------

$btn-height-large:            60px;
$btn-hrz-padding-large:       45px;
$btn-line-height-large:       calc(#{$btn-height-large} - 4px);


// -------------------------
// Input
// -------------------------

$input-font-size:                em(15);
$input-line-height:              1.6;
$input-font-weight:              $light;
$input-color:                    $black;

$input-height:                   40px;
$input-bg:                       #fff;

$input-bg-disabled:              #eee;
$input-border-color:             #d9d9d9;
$input-border-width:             1px;

$input-padding:                  15px;
$input-border-radius:            0;

$input-border-focus:             $brand-secondary-dark;
$input-color-placeholder:        $light-gray;


// -------------------------
// Label
// -------------------------

$label-font-size:                em(13);
$label-color:                    rgba(31, 41, 51, 0.71);
$label-font-weight:              $regular;
$label-letter-spacing:           0.3px;
$label-text-transform:           none;
$label-margin-bottom:            5px;


// --------------------------------------------------
// Container
// --------------------------------------------------

$container-width: 1170px;
