body:not(.is-ie) .uber.is-active .uber {
  &.experience-brand {
    transform: translate(0,0);
  }

  &__partner path {
    animation-name: FillIn;
  }

  &__partner {
    path {
      fill-opacity: 0;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-delay: 0;
      animation-duration: 3s;
    }

    @for $i from 1 to 100 {
      path:nth-child(#{$i}) {
        animation-delay: calc(300ms * #{$i});
      }
    }
  }

  &__driver {
    animation: scaleIn 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1s;
    transform-origin: center;
  }
}
