// ==================================================
// Buttons
// ==================================================

// --------------------------------------------------
// Button Mixin
// --------------------------------------------------

@mixin button($name, $color, $border-color, $background-color, $hover-color, $hover-border-color, $hover-background-color) {
  &.btn--#{$name} {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;

    svg {
      fill: $color;
    }

    &:hover {
      color: $hover-color;
      background-color: $hover-background-color;
      border-color: $hover-border-color;
      box-shadow: 0 2px 20px 0 $hover-background-color;

      &:focus,
      &:active {
        color: darken($hover-color,5%);
        background-color: darken($hover-background-color,5%);
        border-color: darken($hover-border-color,5%);

        svg {
          fill: darken($hover-color,5%);
        }
      }

      svg {
        fill: $hover-color;
      }
    }
  }
}

a.btn,
.btn {
  //--------------------------
  // Set button styles
  //--------------------------

  /*
  @include button(
  $name,
  $color,
  $border,
  $background,
  $hover-color,
  $hover-border,
  $hover-background
  );
  */

  @include button(
    'primary',
    $white,
    $brand-primary-dark,
    $brand-primary-dark,
    $white,
    $brand-primary,
    $brand-primary
  );

  @include button(
    'secondary',
    $white,
    $brand-secondary-dark,
    $brand-secondary-dark,
    $white,
    $brand-secondary,
    $brand-secondary
  );

  @include button(
    'white-alt',
    $white,
    $white,
    transparent,
    $brand-secondary-dark,
    $white,
    $white
  );

  display: inline-block;
  height: $btn-height;
  padding: 0 $btn-hrz-padding;

  color: $white;
  line-height: $btn-line-height;
  letter-spacing: $btn-letter-spacing;
  text-transform: $btn-text-transform;
  text-decoration: none;
  text-align: center;
  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;

  cursor: pointer;
  background: $dark-gray;
  border-style: solid;
  border-width: $btn-border-width;
  border-radius: $btn-border-radius;
  outline: none;
  box-shadow: 0 0 0 0 transparent;
  transition:
    color $transition-duration,
    background-color $transition-duration,
    border-color $transition-duration;

  svg {
    margin-right: 20px;
  }

  &--sm {
    height: $btn-height-small;
    padding: 0 $btn-hrz-padding-small;
    line-height: $btn-line-height-small;
    text-transform: none;
    font-size: 0.8em;
    letter-spacing: 0;
    font-weight: $semibold;

    svg {
      margin-right: 5px;
    }
  }

  &--lg {
    height: $btn-height-large;
    padding: 0 $btn-hrz-padding-large;
    line-height: $btn-line-height-large;
  }

  &--block {
    display: block;
  }

  &--icon {
    svg {
      position: relative;
      top: 3px;
      margin-right: 10px;
    }
  }
}
