// ==================================================
// Defaults
// ==================================================

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: $font-family-base;
}

body {
  font-size: $font-size-base;
  background-color: $body-bg;

  &.is-locked {
    position: fixed;
    height: 100vh;
    overflow: hidden;
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto;

  @include mobile {
    width: 100%;
  }
}

.site-main {
  background-color: $lightest-gray;

  @include desktop {
    min-width: $container-width;
    // padding-top: $header-height;
  }

  @include mobile {
    width: 100vw;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.is-hidden {
  display: none;
}

.l-arrow-container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: linear-gradient(to bottom, $lightest-gray, $white 80%, rgba(255, 255, 255, 0));

  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    height: 1295px;
    width: 581px;
    background-image: url('../svg/brand-arrow.svg');
    background-size: cover;
    background-position: right;
    content: '';
  }
}
