// ==================================================
// Typography
// ==================================================


// --------------------------------------------------
// Headings
// --------------------------------------------------

@mixin heading {
  margin: 0;
  font-family: $font-family-heading;

  @include mobile {
    padding: 0 10px;
  }
}

@mixin h1 {
  @include heading;
  font-weight: $h1-font-weight;
  font-size: $h1-font-size;
  letter-spacing: .6px;
}

@mixin h2 {
  @include heading;
  font-weight: $h2-font-weight;
  font-size: $h2-font-size;
}

h1 { @include h1; }
h2 { @include h2; }

// --------------------------------------------------
// Body
// --------------------------------------------------

p {
  margin: 0 0 15px;
  font-weight: $regular;
  line-height: $line-height-base;
  color: $text-color;

  @include mobile {
    padding: 0 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


// --------------------------------------------------
// Links
// --------------------------------------------------

a {
  color: $brand-primary;
  text-decoration: none;
  transition: color 300ms;

  svg {
    transition: fill $transition-duration;
  }

  &:hover,
  &:focus {
    color: $brand-secondary;
    text-decoration: none;
  }
}


// --------------------------------------------------
// Images
// --------------------------------------------------

img {
  max-width: 100%;
}
