
.toggle-hidden {
  display: none;
}

.l-booking-form {
  &__fields {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 897px;

    > .l-form__field {
      flex-grow: 0;
      flex-shrink: 0;
      width: calc(33.3333% - 22px);
    }
  }

  &__toggles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -15px;
  }

  &__toggle {
    padding: 0;
    font-size: em(13);
    letter-spacing: 0.5px;
    color: $brand-secondary;
    text-transform: uppercase;
    line-height: 1;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  &__action {
    flex-grow: 1;
    padding-left: 40px;
  }

  &__submit {
    width: 191px;
    margin-top: 20px;
  }
}
