.l-booking-bar {
  position: sticky;
  bottom: 0;
  z-index: 1;
  height: 70px;
  background-color: $white;
  box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);

  @include mobile {
    height: auto;
  }

  .container {
    display: flex;
    height: 100%;
    align-items: center;

    @include mobile {
      flex-direction: column;
      padding: 15px;
    }
  }

  &__label {
    height: 100%;
    width: 260px;
    margin-right: 30px;
    padding-right: 16px;
    font-size: em(17);
    line-height: 1.41;
    color: $darker-gray;
    border-right: solid 1px #e4e7e9;

    @include desktop {
      display: flex;
      align-items: center;
    }

    @include mobile {
      width: 100%;
      margin-bottom: 15px;
      padding-right: 0;
      margin-right: 0;
      border-right: 0;
      text-align: center;
    }
  }

  &__action {
    flex-grow: 1;

    .btn {
      width: 247px;

      @include mobile {
        width: 100%;
      }
    }
  }

  &__help {
    display: none;
    font-size: em(14);
    font-weight: $medium;
    color: $brand-secondary;

    @include mobile {
      width: 100%;
    }
  }
}
