.l-booking-panel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  transform: translateX(-100%);
  height: 100vh;
  width: 401px;
  background-color: #fff;
  border-right: 1px solid #e4e7e9;
  transition: transform 300ms;
  box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);

  @include mobile {
    position: absolute;
    width: 100%;
  }

  @media print {
    display: none;
  }

  &.is-open {
    transform: translateX(0);

    .l-booking-panel__overlay {
      pointer-events: initial;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
    padding: 0 25px;
    background-color: $lightest-gray;
  }

  &__heading {
    font-size: em(24);
    font-weight: $light;
    letter-spacing: 0.5px;
    color: $darker-gray;
  }

  &__close {
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    svg path {
      transition: fill $transition-duration;
    }

    &:hover svg path {
      fill: $error;
    }
  }

  &__main {
    height: calc(100vh - 79px);
    padding: 33px;
    overflow: scroll;
  }

  &__summary {
    display: flex;
    padding-right: 40px;
    font-size: 14px;
    font-weight: $light;
    line-height: 1.5;
    color: $black;

    @include mobile {
      display: block;
      padding-right: 0;
    }

    &-label {
      margin-right: 15px;
      font-size: 13px;
      font-weight: $medium;
      letter-spacing: 1.9px;
      text-transform: uppercase;
      color: $brand-secondary-dark;
    }
  }

  &__split {
    margin: 30px 0;
    border-bottom: solid 1px #dcdee0;
  }

  &__form {
    .l-booking-form__fields,
    .l-form__field,
    .l-form__datetime {
      width: 100%;
    }

    @include mobile {
      .l-form__input {
        font-size: em(15);
      }
    }

    .l-form__date {
      flex-grow: 0;

      @include desktop {
        svg {
          right: 70px;
        }
      }
    }
  }

  &__submit {
    width: 100%;
    margin-top: 25px;
  }
}
