.l-booking-summary-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  height: 101px;
  width: 100vw;
  background-color: $white;
  box-shadow: 0 0 17px 0 rgba(178, 179, 181, 0.56);

  @include mobile {
    top: 70px;
    bottom: auto;
    height: calc(100vh - 70px);
    pointer-events: none;
    background-color: transparent;
    display: block;

    &.hide-itinerary .l-booking-summary-bar__blocks,
    &.hide-itinerary .l-booking-summary-bar__modify {
      transform: translateY(-160px);
    }

    &.hide-totals .l-booking-summary-bar__total {
      bottom: -100px;
    }
  }

  &__blocks {
    display: flex;
    align-items: center;
    height: 100%;
    transition: transform $transition-duration;

    @include mobile {
      width: 100%;
      height: 100px;
      height: auto;
      background-color: #fff;
      z-index: -2;
      padding: 20px 0 0;
      pointer-events: none;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 40px;

    @include mobile {
      text-align: center;
    }

    @include desktop {
      &:not(:last-child) {
        border-right: 1px solid #e4e7e9;
      }
    }

    &-label {
      margin-bottom: 6px;
      font-size: em(12);
      font-weight: $medium;
      letter-spacing: 1.6px;
      color: $light-gray;
      text-transform: uppercase;

      @include mobile {
        font-size: em(13);
        letter-spacing: 0.3px;
        text-transform: none;
      }
    }

    &-location {
      display: flex;
      margin-bottom: 4px;
      font-size: em(18);
      font-weight: $light;
      color: $black;

      @include mobile {
        font-size: em(13);
        line-height: 1.31;
        font-weight: $regular;
      }
    }

    &-date {
      font-size: em(15);
      font-weight: $light;
      color: $black;

      @include mobile {
        font-size: em(13);
        line-height: 1.31;
        font-weight: $light;
      }
    }
  }

  &__modify {
    flex-grow: 1;
    padding-left: 25px;
    font-size: em(14);
    font-weight: $medium;
    letter-spacing: 1.6px;
    color: $brand-secondary;
    text-transform: uppercase;
    transition: transform $transition-duration;

    @include mobile {
      display: block;
      height: 60px;
      padding: 20px 15px;
      text-align: center;
      background-color: #fff;
      pointer-events: initial;
    }
  }

  &__total {
    display: flex;
    height: 100%;
    width: 365px;
    padding-left: 20px;
    background-color: $brand-primary;

    @include desktop {
      flex-direction: column;
      justify-content: center;
    }

    @include mobile {
      height: 50px;
      position: absolute;
      bottom: 0;
      z-index: 2;
      width: 100%;
      padding-right: 70px;
      pointer-events: initial;
      justify-content: space-between;
      align-items: center;
      transition: bottom $transition-duration;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: $brand-primary;
        content: '';
      }
    }

    &-label {
      font-size: em(12);
      font-weight: $medium;
      letter-spacing: 1.6px;
      color: $darker-gray;
      text-transform: uppercase;

      @include desktop {
        margin-bottom: 2px;
      }
    }

    &-price {
      font-size: em(33);
      font-weight: $light;
      letter-spacing: 1.3px;
      color: $darker-gray;

      @include mobile {
        font-size: em(20);
      }
    }

    &-details:hover,
    &-details.is-active {
      @include mobile {
        height: 0;
      }

      .l-booking-summary-bar__total-details-trigger svg {
        transform: rotateX(180deg);
      }

      .l-booking-summary-bar__total-details-panel {
        transform: translateY(0);
      }
    }

    &-details {
      @include mobile {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

    &-details-trigger {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 83px;
      background-color: $brand-primary-dark;
      outline: none;
      cursor: pointer;

      @include mobile {
        height: 50px;
        width: 55px;
      }

      svg {
        position: absolute;
        top: calc(50% - 7.5px);
        left: calc(50% - 12.5px);
        transform-origin: center;
        transition: transform $transition-duration;
        pointer-events: none;
      }
    }

    &-details-panel {
      position: absolute;
      bottom: 100%;
      right: 0;
      z-index: -1;
      transform: translateY(100%);
      width: 365px;
      max-height: calc(100vh - 300px);
      background-color: $brand-primary;
      border-bottom: 1px solid $brand-primary-dark;
      transition: transform $transition-duration;
      overflow: auto;

      @include mobile {
        z-index: -2;
        width: 100%;
        max-height: calc(100vh - 120px);
      }

      &:hover {
        transform: translateY(0);
      }
    }
  }

  .l-booking-summary-bar__total-item {
    padding: 20px;

    &:not(:first-child) {
      border-top: 1px solid $brand-primary-dark;
    }

    &-label {
      margin-bottom: 7px;
      font-size: em(13);
      letter-spacing: 0.3px;
      color: $darker-gray;

      &:not(:first-child) {
        margin-top: 15px;
      }
    }

    &-name {
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 300;
      text-align: left;
      color: $black;
    }

    &-totals {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-subtotal {
      font-size: em(15);
      font-weight: $light;
      color: $black;
    }

    &-total {
      font-size: em(15);
      font-weight: $medium;
      color: $black;
    }
  }

  &__promo {
    padding: 12px 20px;
    border-top: 1px solid $brand-primary-dark;

    &-field {
      position: relative;
      display: flex;
    }

    &-input {
      height: 45px;
      width: 100%;
      padding: 15px;
      font-size: em(13);
      font-weight: $light;
      letter-spacing: 0.5px;
      color: $black;
      border: 0;
      background-color: $white;
      outline: none;

      &::placeholder {
        color: $darker-gray;
        opacity: 1;
      }
    }

    &-submit {
      display: block;
      height: 45px;
      padding: 0 20px;
      line-height: 45px;
      font-size: em(13);
      font-weight: $medium;
      letter-spacing: 1.2px;
      color: $light-gray;
      text-transform: uppercase;
      border: 0;
      background-color: $white;
      outline: none;
      cursor: pointer;
    }
  }
}
