.l-booking {
  padding-top: 100px;

  @include desktop {
    display: flex;
    align-items: stretch;
  }

  @include mobile {
    padding-top: 160px;
  }

  &__main {
    padding-top: 68px;
    padding-bottom: 150px;

    @include desktop {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }

    @include mobile {
      width: 100%;
      padding-top: 100px;
    }
  }

  &__container {
    width: 1126px;

    @include mobile {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 36px;

    @include mobile {
      display: none;
    }
  }

  &__currency {
    position: relative;
    display: flex;
    align-items: center;

    &-label {
      margin-right: 10px;
      padding-bottom: 10px;
      font-size: em(14);
      font-weight: $medium;
      letter-spacing: 1.9px;
      color: #777d84;
      text-transform: uppercase;
    }

    &-selected {
      display: flex;
      align-items: center;
      outline: none;
      cursor: pointer;
    }

    &-toggle {
      position: relative;
      padding-bottom: 10px;

      &:hover > .l-booking__currency-options {
        opacity: 1;
        transform: translateY(0);
        pointer-events: initial;
      }
    }

    &-flag {
      display: block;
      height: 16px;
      margin-right: 10px;
    }

    &-acronym {
      display: block;
      margin-right: 10px;
      font-size: em(14);
      font-weight: $bold;
      letter-spacing: 1.5px;
      color: $darker-gray;
      text-transform: uppercase;
    }

    &-options {
      position: absolute;
      top: 100%;
      right: 0;
      width: 85px;
      padding: 12px 10px;
      margin: 0;
      list-style: none;
      background-color: $white;
      box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);
      transform: translateY(10px);
      transform-origin: top center;
      opacity: 0;
      pointer-events: none;
      transition: all $transition-duration;
    }

    &-option {
      display: flex;
      align-items: center;
      font-size: em(14);
      letter-spacing: 1.5px;
      color: $darker-gray;
      text-transform: uppercase;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 11px;
      }
    }
  }

  &__progress {
    margin-bottom: 56px;

    @include mobile {
      position: sticky;
      top: calc(160px + 66px);
      z-index: 10;
      background-color: #fafbfc;
      transition: top $transition-duration;

      &.hide-itinerary {
        top: 70px;
      }

      // There should only be one progress bar per page.
      // Remove any additional.
      &:not(:nth-child(2)) {
        display: none;
      }
    }

    &-labels {
      display: flex;

      @include desktop {
        margin-bottom: 24px;
      }
    }

    &-label {
      width: 20%;
      font-size: 15px;
      text-align: center;
      font-weight: $light;
      color: rgba($black, 0.8);

      @include mobile {
        display: none;
        height: 45px;
        line-height: 45px;

        &.is-active {
          display: block;
          width: 100%;
        }
      }

      @include desktop {
        &:nth-child(2) {
          transform: translateX(-25%);
        }

        &:nth-child(4) {
          transform: translateX(25%);
        }

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    &-bar {
      position: relative;
      height: 20px;
      width: 100%;
      border-radius: 20px;
      background-color: $white;
      box-shadow: 0 0 19px 0 rgba(182, 188, 193, 0.18);
      border: 1px solid $lighter-gray;

      @include mobile {
        height: 8px;
        border-radius: 0;
        box-shadow: none;
        border: 0;
      }

      &--0:before {
        width: 2%;
      }

      &--25:before {
        width: 25%;
      }

      &--50:before {
        width: 50%;
      }

      &--75:before {
        width: 75%;
      }

      &--100:before {
        width: 100%;
      }

      &:before {
        display: block;
        height: 18px;
        border-radius: 12px;
        background-color: $brand-primary;
        border: 3px solid $white;
        box-sizing: border-box;
        content: '';

        @include mobile {
          height: 8px;
          border: 0;
          border-radius: 0;
        }
      }
    }
  }

  &__step {
    margin-top: 65px;

    @include mobile {
      padding: 0 15px;
    }

    &-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      padding: 0;
      font-size: em(16);
      font-weight: $regular;
      letter-spacing: 0.1px;
      color: $darker-gray;

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-note {
      margin-top: -15px;
      margin-bottom: 30px;
      font-size: em(15);
      font-style: italic;
      font-weight: $light;
      color: $black;
    }
  }

  &__age {
    width: 357px;
    margin-top: 7px;
    margin-bottom: 65px;

    @include mobile {
      width: 100%;

      .l-form__field {
        width: 50%;

        .l-form__label {
          height: 24px;
        }

        .l-form__input {
          margin-top: 0;
        }
      }
    }
  }

  &__video-link {
    display: flex;
    align-items: center;
    font-size: em(14);
    font-weight: $medium;
    letter-spacing: 2px;
    color: $darker-gray;
    text-transform: uppercase;

    @include mobile {
      display: none;
    }

    svg {
      display: block;
      margin-right: 10px;
      fill: #b2b3b5;
      transition: fill $transition-duration;
    }

    &:hover svg {
      fill: $brand-secondary-dark;
    }
  }

  &__options {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -13px -34px;

    @include mobile {
      margin: 0;
    }
  }

  &__form {
    @include desktop {
      justify-content: flex-start;
      margin: 0 -14px;

      .l-form__field {
        padding: 0 14px;
        margin-bottom: 20px;

        &--checkbox .l-form__label {
          height: auto;
          font-size: em(15);
          font-weight: $light;
        }

        &:not(.l-form__field--fw) {
          width: 33.3333%;

          &.l-form__field--notes {
            width: 66.6666%;
            margin-bottom: 55px;
          }
        }

        &--double {
          flex-grow: 0;

          .l-form__field {
            width: calc(50% - 24px);
          }
        }
      }
    }
  }

  &__license {
    display: flex;
    align-items: center;
    margin-bottom: 46px;

    @include mobile {
      display: block;
    }

    &-upload {
      position: relative;
      display: flex;
      align-items: center;
      padding: 8px 18px 8px 11px;
      margin-right: 27px;
      color: $white;
      font-size: em(14);
      border-radius: 4px;
      background-color: $light-gray;
      cursor: pointer;

      @include mobile {
        margin-bottom: 10px;
      }

      &:before {
        height: 32px;
        width: 37px;
        margin-right: 13px;
        border-radius: 5px;
        border: 1px dashed $white;
        content: '';
      }
    }

    &-manual {
      padding: 0;
      font-size: em(15);
      color: $brand-secondary;
      font-style: italic;
      font-weight: $light;
      text-decoration: underline;
      background-color: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
    }
  }

  &__cc-brands {
    display: flex;
    flex-grow: 1;

    @include desktop {
      padding-left: 47px;
    }

    @include mobile {
      margin-top: 15px;
    }
  }

  &__cc-brand {
    display: block;
    margin-right: 11px;
    opacity: 0.5;
    transition: opacity $transition-duration;

    &.is-active {
      opacity: 1;
    }
  }

  &__next {
    width: 247px;
    margin-top: 30px;

    @include mobile {
      width: calc(100vw - 30px);
      margin: 30px 15px;
    }
  }

  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      padding: 0 15px;
    }

    &-icon {
      margin-bottom: 37px;

      svg {
        display: block;
      }
    }

    &-title {
      margin-bottom: 27px;
      font-size: 17px;
      letter-spacing: 0.8px;
      text-align: center;
      color: $black;
    }

    &-content {
      width: 604px;
      margin-bottom: 40px;

      @include mobile {
        width: 100%;
      }

      p {
        font-size: 15px;
        font-weight: 300;
        line-height: 2;
        letter-spacing: 0.6px;
        text-align: center;
        color: $black;
      }

      a {
        color: $brand-secondary;

        &:hover {
          color: $brand-secondary-dark;
        }
      }
    }

    &-action {
      display: block;
      width: 247px;
    }
  }

  &__insurance-video {
    display: flex;
    width: 100%;
    margin: 0 20px 40px;
    cursor: pointer;
    color: #0056a7;

    &-svg {
      width: 3%;
    }
  }
}

.zopimchat {

  background: #f8c513;
  width: 40px;
  height: 40px;
  border-radius: 64px;
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 550;
  cursor: pointer;

  @include mobile {
    width: 40px;
    height: 40px;
    top: 15px;
    right: 70px;
  }

  & div {
    position: relative;
    width: 40px;
    height: 40px;
    color: white;
    padding: 10px;
    text-align: center;

    &:hover {
      padding: 8px;
    }

    @include mobile {
      width: 40px;
      height: 40px;
    }
  }
}

.homepage-cta {
  display: none;

  @include mobile {
    display: block;
    position: absolute;
    left: 50%;
    top: 65%;
    z-index: 99;
    background: #f7c514;
    padding: 10px 20px;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    margin-left: -90px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #f7c514;
    color: #fff;
    font-size: 14px;
  }
}

.js-tooltip {
  display: flex;
  align-items: center;
  height: 100%;
  transition: transform $transition-duration;
  cursor: pointer;
  padding-left: 2px;
  pointer-events: all;
}

.tippy-tooltip {
  border: 1px solid #f7c514;
}