.l-brands-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px 0 19px;
  background-color: $white;

  @include mobile {
    display: none;
  }

  &__brand {
    margin: 0 45px;
  }
}
