.l-cars {
  padding: 170px 0 100px;

  @include mobile {
    padding-top: 140px;
    padding-bottom: 0;
  }

  &__heading {
    margin-bottom: 40px;

    @include mobile {
      text-align: center;
    }
  }

  &__filter {
    margin-bottom: 70px;

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__cards {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;

    &:after {
      display: block;
      width: 343px;
      content: '';
    }

    @include mobile {
      justify-content: center;
    }
  }
}
