.l-content-videos {
  margin-top: 40px;

  &__language {
    margin-bottom: 15px;

    &-instruction {
      margin-right: 15px;
      font-size: em(14);
      line-height: 1.86;
      color: #222222;
    }

    &-select {
      width: 150px;
    }
  }

  &__video {
    display: none;

    &.is-visible {
      display: block;
    }
  }
}
