.l-contact {
  position: relative;
  padding: 170px 0 63px;

  @include mobile {
    padding-top: 140px;
    padding-bottom: 0;
    background-image: none !important; // stylelint-disable-line
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-image: linear-gradient(to bottom, $white, rgba(255, 255, 255, 0.81));
    content: '';
  }

  .container,
  &__container {
    position: relative;
    z-index: 1;
  }

  &__heading {
    margin-bottom: 16px;

    @include mobile {
      text-align: center;
    }
  }

  &__sub-heading {
    margin-bottom: 20px;
    font-size: em(14);
    font-weight: $medium;
    letter-spacing: 1.8px;
    color: $brand-secondary;
    text-transform: uppercase;
  }

  &__content {
    width: 461px;
    margin-bottom: 46px;

    p {
      font-size: em(14);
      font-weight: 300;
      line-height: 1.5;
      color: rgba($black, 0.77);
    }

    @include mobile {
      width: 100%;
      text-align: center;
    }
  }

  &__container {
    display: flex;
    align-items: stretch;
    width: $container-width;
    margin: 0 auto;
    border-radius: 2px;
    background-color: $white;
    box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);

    @include mobile {
      width: 100%;
      flex-direction: column;
    }
  }

  &__form {
    flex-grow: 1;
    padding: 55px;
    border-right: 1px solid rgba(207, 207, 207, 0.34);

    @include mobile {
      padding: 30px 15px;
      border-right: 0;
      border-bottom: 1px solid rgba(207, 207, 207, 0.34);
    }

    &-heading {
      margin-bottom: 20px;
      font-size: em(16);
      font-weight: $medium;
      letter-spacing: 2px;
      color: $black;
      text-transform: uppercase;
    }
  }

  &__details {
    flex-shrink: 0;
    padding: 55px 30px 55px 40px;

    @include mobile {
      padding: 40px 15px 30px;
      text-align: center;
    }
  }

  &__numbers {
    margin-bottom: 42px;
  }

  &__number {
    display: flex;
    font-size: em(14);
    line-height: 1.57;

    a {
      color: $darker-gray;
    }

    @include mobile {
      flex-direction: column;
      margin-bottom: 10px;
    }
  }

  &__number-label {
    width: 160px;
    margin-right: 15px;

    @include mobile {
      width: 100%;
      margin-right: 0;
      font-weight: $bold;
    }
  }

  &__depot {
    display: flex;
    align-items: center;
    color: $darker-gray;
    font-size: em(14);
    line-height: 1.79;

    svg {
      display: block;
      margin-right: 10px;
    }

    @include mobile {
      justify-content: center;
      margin-bottom: 10px;
    }
  }

  &__submit {
    width: 247px;
    margin-top: 20px;

    @include mobile {
      width: 100%;
    }
  }
}
