.l-deals {
  &__banner {
    height: 314px;
    padding-top: 170px;
    margin-top: -#{$header-height};
    box-shadow: 0 0 0 1000px rgba(31, 41, 51, 0.52) inset;
    background-image: url('https://unsplash.it/1920/400/?random');
    background-size: cover;
    background-position: center;

    @include mobile {
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
    }

    .container {
      position: relative;
      height: 100%;

      @include mobile {
        padding-top: 150px;
        padding-bottom: 100px;
      }
    }
  }

  &__toggles {
    position: absolute;
    bottom: 0;
    left: 15px;

    @include mobile {
      left: 0;
      display: flex;
      width: 100%;
    }
  }

  &__toggle {
    margin-right: 70px;
    padding: 13px 10px;
    color: $white;
    font-size: em(14);
    font-weight: $bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: $white;
    border: 0;
    border-bottom: 5px solid transparent;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: border-color $transition-duration;

    @include mobile {
      margin-right: 0;
      width: 50%;
      font-size: em(13);
    }

    &.is-active,
    &:hover {
      border-color: $brand-primary;
    }
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 0;
    color: $white;
  }

  &__cards {
    display: none;
    padding: 60px 0 120px;

    &.is-visible {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -27px;

      @media screen and (max-width: 991px) {
        justify-content: space-between;
        margin: 0;
      }

      @media screen and (max-width: 789px) {
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  &__popular {
    .swiper-wrapper {
      align-items: flex-start;

      .swiper-slide {
        @include mobile {
          max-width: 363px;
          min-width: 280px;
          // min-width: calc(100vw - 40px);
          padding: 0 10px;
        }

        @include desktop {
          padding: 0 20px;

          .c-vehicle-card {
            width: 100%;
          }
        }
      }
    }
  }

  &__description {
    padding-top: 20px;
  }
}

.deal-swiper-button-next.swiper-button-blue {
  background-image: url('../svg/swiper-arrow.svg');
  right: 0;
  margin-top: -45px;
  background-size: 45px 50px;
}

.deal-swiper-button-prev.swiper-button-blue-prev {
  background-image: url('../svg/swiper-arrow.svg');
  transform: rotateY(180deg);
  left: 0;
  margin-top: -45px;
  background-size: 45px 50px;
}
