.l-description {
  padding-bottom: 71px;

  &__heading {
    margin-bottom: 46px;
    text-align: center;
    font-size: 1.7125em;
    letter-spacing: .6px;
  }

  .trustpilot-widget {
    border: 1px solid rgb(242, 242, 242);
    border-radius: 5px;
    overflow: hidden;
  }

  &__more {
    margin-top: 68px;
    text-align: center;
  }
}
