.l-error {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-top: -#{$header-height};
  box-shadow: 0 0 0 1000px rgba(31, 41, 51, 0.52) inset;
  background-image: url('../../production/images/hero/memory.jpg');
  background-size: cover;
  background-position: center;

  .container {
    position: relative;
    text-align: center;
  }

  &__heading,
  &__content * {
    color: $white;
  }

  &__heading,
  &__content {
    margin-bottom: 30px;
  }
}
