.l-experience {
  padding-bottom: 100px;

  &__container {
    position: relative;
    z-index: 1;
    padding: 42px 32px;
    border-radius: 5px;
    box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);
    max-width: 1170px;
    margin: 0 auto;
    background-color: $white;

    @include mobile {
      width: 100%;
      border-radius: 0;
    }
  }

  &__terms {
    padding: 0 32px;
    margin: 0 -32px;
    font-size: em(11);
    font-weight: $light;
    line-height: 2.18;
    color: rgba(#222, 0.66);
  }

  &__terms-label {
    text-align: right;
    font-size: 0.7875em;
    font-weight: 300;
  }

  &__deal-terms {
    color: #00386c;
  }

  &__title_h2 {
    text-align: center;
    margin-bottom: 33px;
    font-size: 1.7125em;
    letter-spacing: .6px;
  }
}
