.l-experiences {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top: -#{$header-height};

  @include mobile {
    display: none;
  }

  &__column {
    position: relative;
    display: block;
    flex: 1;
    height: 100%;
    box-shadow: 0 0 0 100vh rgba(31, 41, 51, 0.4) inset;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    @include mobile {
      height: 100vh;
      width: 100%;
      flex: none;

      &:first-child {
        padding-top: 100px;
      }

      .btn.btn {
        opacity: 1;
        pointer-events: initial;
      }
    }

    @include desktop {
      &:hover {
        flex: 1.5;
        box-shadow: 0 0 0 100vh rgba(31, 41, 51, 0) inset;

        .btn {
          opacity: 1;
          pointer-events: initial;
        }

        svg {
          max-width: 500px;
        }
      }
    }

    svg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      height: 100%;
      margin-bottom: 40px;
      max-width: 200px;
      // transition: all $transition-duration;
    }

    .btn {
      position: absolute;
      top: calc(50% + 250px);
      width: 270px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      pointer-events: none;
      transition: all $transition-duration;
      text-decoration: none;
    }
  }
}
