// ==================================================
// Footer
// ==================================================

.l-footer {
  padding-top: 52px;
  padding-bottom: 65px;
  background-color: $lightest-gray;
  border-top: 1px solid $lighter-gray;

  @media print {
    display: none;
  }

  @include desktop {
    min-width: $container-width;
  }

  @include mobile {
    overflow: hidden;
  }

  &__nav {
    display: flex;
    margin-bottom: 175px;

    @include mobile {
      margin-bottom: 30px;
      padding: 0 10px;
      flex-wrap: wrap;
    }

    &-items {
      margin: 0 75px 0 0;
      padding: 0;
      list-style: none;

      @include mobile {
        width: 50%;
        min-width: 300px;
        max-width: 100%;
        padding: 0 10px;
        margin-right: 0;
        margin-bottom: 30px;

        // &:nth-child(1),
        // &:nth-child(2) {
        //   display: none;
        // }

        &:nth-child(2) {
          order: 4;
        }
      }
    }

    &-title {
      margin-bottom: 20px;
      height: 18px;
      line-height: 18px;
      font-size: 15px;
      font-weight: $medium;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      color: $brand-primary-dark;

      @include mobile {
        display: none;
      }
    }
  }

  &__nav-link,
  &__address {
    font-size: em(15);
    font-weight: $light;
    line-height: 1.33;
    color: $dark-gray;
  }

  &__social {
    flex-grow: 1;
    text-align: right;

    @include mobile {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      width: 100%;
      padding: 0 10px;
      order: 5;
    }

    &-items {
      display: flex;
      padding: 0;
      list-style: none;

      @include desktop {
        justify-content: flex-end;
        margin: 0 0 28px;
      }
    }

    &-link {
      position: relative;
      display: block;
      height: 40px;
      width: 40px;
      background-color: $lighter-gray;
      border-radius: 50%;
      transition: background-color $transition-duration;

      @include desktop {
        margin-left: 20px;
      }

      @include mobile {
        margin-left: 20px;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        fill: $dark-gray;
        transition: fill $transition-duration;
      }

      &:hover {
        background-color: $white;
      }
    }
  }

  &__copyright,
  &__fineprint-nav-item,
  &__fineprint-nav-link,
  &__fineprint-lg {
    font-size: 14px;
    font-weight: $light;
    line-height: 1.43;
    color: rgba($darker-gray, .63);
  }

  &__copyright,
  &__fineprint-nav-item {
    &:not(:last-child):after {
      @include desktop {
        margin: 0 5px;
        content: '|';
      }

      @include mobile {
        margin-bottom: 10px;
      }
    }
  }

  &__fineprint {
    padding-top: 23px;
    width: 100%;
    background-color: $lighter-gray;
    border-top: 1px solid rgba($white, 0.4);

    @include desktop {
      height: 85px;
    }

    @include mobile {
      flex-direction: column;
      padding-bottom: 15px;
    }

    .container {
      display: flex;
      align-items: center;

      @include mobile {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
      }
    }

    &-nav {
      flex-grow: 1;

      &-items {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        @include mobile {
          align-items: center;
          flex-direction: column;
        }
      }
    }

    &-lg {
      display: flex;
      align-items: center;

      svg {
        height: 26px;
        width: 33px;
        margin-right: 9px;
        fill: #8d949a;

        @include mobile {
          height: 21px;
        }
      }
    }
  }
}
