// ==================================================
// Forms
// ==================================================

.l-form {
  $top: &;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(50% - 7.5px);
    margin-bottom: 15px;

    @include mobile {
      width: 100%;
    }

    &.is-hidden {
      display: none;
    }

    &--no-label {
      padding-top: 25px;
    }

    &--right {
      @include desktop {
        text-align: right;
      }
    }

    &--fw {
      width: 100%;
    }

    &--quarter {
      width: 25%;

      @include mobile {
        width: 50%;

        &:nth-child(3),
        &:nth-child(4) {
          padding-top: 0;
        }
      }
    }

    &--double {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }

    &--radio {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;

      @include mobile {
        margin-bottom: 30px;
      }

      .l-form__label {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding-left: 39px;
        text-transform: none;
        font-size: em(15);
        color: $black;
        font-weight: $light;
        opacity: 1;
        cursor: pointer;
        user-select: none;

        @include desktop {
          height: $input-height;
        }

        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          height: 24px;
          width: 24px;
          margin-right: 15px;
          background-color: $white;
          border-radius: 50%;
          border: $input-border-width solid $input-border-color;
          box-sizing: border-box;
          content: '';

          @include mobile {
            top: 0;
            transform: none;
          }
        }

        &:after {
          position: absolute;
          top: 50%;
          left: 4px;
          transform: translateY(-50%);
          height: 16px;
          width: 16px;
          opacity: 0;
          border-radius: 50%;
          background-color: $brand-primary-dark;
          transition: all $transition-duration;
          content: '';
        }
      }

      .l-form__input {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        padding: 0;
        appearance: none;
        opacity: 0;
        cursor: pointer;

        @include mobile {
          top: 0;
          transform: none;
        }

        &:checked ~ .l-form__label:after {
          opacity: 1;
        }

        &.lg-validate--error ~ .l-form__label {
          &:before {
            border-color: $error;
          }
        }
      }

      .error-container {
        display: block;
        order: 2;
        width: 100%;
      }
    }

    &--checkbox {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;

      @include mobile {
        margin-bottom: 30px;
      }

      .l-form__label {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding-left: 30px;
        text-transform: none;
        font-size: em(13);
        color: $dark-gray;
        opacity: 1;
        cursor: pointer;
        user-select: none;

        @include desktop {
          height: $input-height;
        }

        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          height: 15px;
          width: 15px;
          margin-right: 15px;
          background-color: $white;
          border: $input-border-width solid #9c9c9c;
          box-sizing: border-box;
          content: '';
        }

        &:after {
          position: absolute;
          top: 50%;
          left: 8px;
          height: 10px;
          width: 10px;
          @include svg('defaults/check.svg');
          background-size: 100%;
          transform: translate(-50%,-50%) scale(0);
          transition: transform $transition-duration;
          content: '';
        }
      }

      .l-form__input {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        padding: 0;
        appearance: none;
        opacity: 0;
        cursor: pointer;

        @include mobile {
          top: 0;
          margin: 0;
          transform: none;
        }

        &:checked ~ .l-form__label:after {
          transform: translate(-50%,-50%) scale(1);
        }

        &.lg-validate--error ~ .l-form__label {
          &:before {
            border-color: $error;
          }
        }
      }

      .error-container {
        display: block;
        order: 2;
        width: 100%;
      }
    }
  }

  &__field--datetime {
    .pika-single {
      position: absolute !important; // stylelint-disable-line
      z-index: 9999;
      top: calc(100% + 10px) !important; // stylelint-disable-line
      display: block;
      width: 240px;
      color: #333;
      background: #fff;
      box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);
      border: solid 1px #e4e7e9;
      border-radius: 5px;
      *zoom: 1;

      &:after,
      &:before {
        bottom: 100%;
        left: 90%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: transparent;
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
      }

      &:before {
        border-color: transparent;
        border-bottom-color: #e4e7e9;
        border-width: 11px;
        margin-left: -11px;
      }

      &.is-hidden {
        display: none;
      }

      &.is-bound {
        position: absolute;
        box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
      }
    }

    .pika-title {
      position: relative;
      padding: 6px 10px;
      text-align: center;
      color: $brand-secondary;
      font-weight: $medium;
      letter-spacing: 0.3px;
      border-bottom: solid 1px #e4e7e9;
    }

    .pika-label {
      display: inline-block;
      *display: inline;
      position: relative;
      z-index: 9999;
      overflow: hidden;
      margin: 0;
      padding: 5px 3px;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      background-color: #fff;
    }

    .pika-title select {
      cursor: pointer;
      position: absolute;
      z-index: 9998;
      margin: 0;
      left: 0;
      top: 5px;
      filter: alpha(opacity=0);
      opacity: 0;
    }

    .pika-prev,
    .pika-next {
      display: block;
      cursor: pointer;
      position: relative;
      outline: none;
      border: 0;
      padding: 0;
      width: 20px;
      height: 30px;

      /* hide text using text-indent trick, using width value (it's enough) */
      text-indent: 20px;
      white-space: nowrap;
      overflow: hidden;
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 75% 75%;
      opacity: .5;
      *position: absolute;
      *top: 0;
    }

    .pika-prev:hover,
    .pika-next:hover {
      opacity: 1;
    }

    .pika-prev,
    .is-rtl .pika-next {
      float: left;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
      *left: 0;
    }

    .pika-next,
    .is-rtl .pika-prev {
      float: right;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
      *right: 0;
    }

    .pika-prev.is-disabled,
    .pika-next.is-disabled {
      cursor: default;
      opacity: .2;
    }

    .pika-select {
      display: inline-block;
      *display: inline;
    }

    .pika-table {
      width: calc(100% - 40px);
      margin: 20px;
      border-collapse: collapse;
      border-spacing: 0;
      border: 0;

      abbr {
        text-decoration: none;
      }

      th,
      td {
        padding: 0;
        width: 24px;
        height: 26px;
        text-align: center;
      }

      th {
        padding-bottom: 5px;
        font-size: 12px;
        color: $brand-secondary-dark;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        font-weight: $medium;
      }

      tr {
        margin-bottom: 5px;
      }
    }

    .pika-week {
      font-size: 12px;
      color: $brand-secondary-dark;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      font-weight: $medium;
    }

    .pika-button {
      cursor: pointer;
      display: block;
      box-sizing: border-box;
      outline: none;
      border: 0;
      border-radius: 3px;
      margin: 3px auto;
      width: 24px;
      height: 20px;
      color: #666;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      background: #fff;
    }

    .is-today .pika-button {
      font-weight: bold;
    }

    .is-selected .pika-button,
    .has-event .pika-button {
      color: #fff;
      font-weight: bold;
      background: $brand-secondary-dark;
    }

    .pika-button:hover,
    .pika-row.pick-whole-week:hover .pika-button {
      color: #fff;
      background: $brand-primary-dark;
      border-radius: 3px;
    }

    .has-event .pika-button {
      background: $brand-secondary-dark;
    }

    .is-disabled .pika-button,
    .is-inrange .pika-button {
      background: #d5e9f7;
    }

    .is-startrange .pika-button {
      color: #fff;
      background: #6cb31d;
      box-shadow: none;
      border-radius: 3px;
    }

    .is-endrange .pika-button {
      color: #fff;
      background: #33aaff;
      box-shadow: none;
      border-radius: 3px;
    }

    .is-disabled .pika-button {
      pointer-events: none;
      cursor: default;
      color: #999;
      opacity: .3;
    }

    .is-outside-current-month .pika-button {
      color: #999;
      opacity: .3;
    }

    .is-selection-disabled {
      pointer-events: none;
      cursor: default;
    }
  }

  &__label {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: $label-margin-bottom;
    font-family: $font-family-base;
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    color: $label-color;
    text-transform: $label-text-transform;
    letter-spacing: $label-letter-spacing;
    transition: all $transition-duration;
    order: -1;

    &--hidden {
      display: none;
    }

    &--select {
      position: absolute;
      top: 0;
      left: 0;
    }

    &--inline {
      position: absolute;
      top: 0;
      right: 0;
      height: $input-height;
      margin: auto;
      line-height: $input-height;
      color: $brand-primary;
      opacity: 0;

      &.label-show {
        right: 20px;
        opacity: 1;
      }

      &.sr-only {
        position: inherit;
      }
    }

    > a {
      font-weight: $medium;
      color: $brand-secondary;
    }

    &-tooltip {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      padding: 0;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      outline: none;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: $input-height;
    padding: 0 $input-padding;
    color: $input-color;
    font-family: $font-family-base;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    background-color: $input-bg;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    outline: none;
    box-shadow: none;
    transition: all $transition-duration;
    appearance: none;

    &::placeholder,
    &:invalid {
      font-weight: $light;
      color: $input-color-placeholder;
      opacity: 1;
    }

    &:active,
    &:focus {
      background-color: $white;
      border-color: $input-border-focus;
      box-shadow: none;
    }

    &[disabled] {
      background-color: $input-bg-disabled;
    }

    &[type=number] {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    &--select {
      cursor: pointer;
      padding-right: 50px;

      &:invalid:not(.lg-validate--error) {
        color: $black;
      }

      &:invalid.lg-validate--error {
        color: $error;
      }

      &::-ms-expand {
        display: none;
      }
    }

    &--date,
    &--time {
      cursor: pointer;
      padding-right: 50px;

      &:active,
      &:focus {
        border-color: $input-border-color;
      }
    }

    &--date {
      border-right: 0;
      border-radius: $input-border-radius 0 0 $input-border-radius;
    }

    &--time {
      width: 115px;
      padding-left: 0;
      border-left: 0;
      border-radius: 0 $input-border-radius $input-border-radius 0;
    }

    &--textarea {
      height: 140px;
      padding: 15px 20px;
      resize: none;

      &::placeholder {
        font-style: italic;
      }
    }

    // To stop default zoom on iphone
    @include mobile {
      font-size: 16px;
    }
  }

  &__select {
    position: relative;
    width: 100%;

    svg {
      position: absolute;
      top: calc(#{$input-height} / 2);
      right: 20px;
      transform: translateY(-50%);
      display: block;
      height: 7px;
      width: 11px;
      pointer-events: none;
    }
  }

  &__datetime {
    display: flex;
    width: 100%;
  }

  &__date,
  &__time {
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      display: block;
      pointer-events: none;
    }
  }
}

// --------------------------------------------------
// Form Errors
// --------------------------------------------------

.lg-validate--error {
  box-shadow: none;
  color: $error;
  border-color: $error;

  &:focus {
    border-color: $error;
    box-shadow: none;
  }

  &::placeholder {
    color: $error;
  }
}

.error-container {
  width: 100%;
  margin-top: 10px;

  p {
    color: $error;
    font-size: $small;
    line-height: 1.4;
  }
}
