// ==================================================
// Header
// ==================================================

.l-header {
  position: sticky;
  top: -30px;
  left: 0;
  z-index: 501;
  width: 100%;
  margin-bottom: -#{$header-height};

  @media print {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-149px);
  }

  @include desktop {
    min-width: $container-width;
  }

  @include mobile {
    top: 0;
    height: $mob-header-height;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 10px 0 rgba(158, 163, 167, 0.16);
    transition: transform 300ms;
    content: '';

    @media print {
      display: none;
    }
  }

  &.is-fixed {
    &:before {
      transform: translateY(0);
    }
  }

  &__mini {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-right: 50px;
    background-color: $lighter-gray;

    @media print {
      display: none;
    }

    @media screen and (max-width: 1240px) {
      padding-right: 30px;
    }

    @media screen and (max-width: 774px) {
      padding-right: 20px;
    }

    @include mobile {
      display: none;
    }

    &-link {
      margin-left: 50px;
      line-height: 30px;
      font-size: em(12);
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $dark-gray;

      @media screen and (max-width: 981px) {
        margin-left: 40px;
      }

      &--phone {
        font-weight: bold;
        color: $brand-secondary;
      }

      &--drive {
        margin: 2px 0 0 50px;
        color: $brand-secondary;
      }

      &--contact,
      &--deals {
        display: none;

        @media screen and (max-width: 981px) {
          display: block;
        }
      }
    }
  }

  &__regions {
    display: flex;
  }

  &__region {
    height: 30px;
    padding: 0 45px;
    line-height: 30px;
    font-size: em(12);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $dark-gray;

    @media screen and (max-width: 981px) {
      padding: 0 20px;
    }

    &.is-current {
      color: $brand-secondary;
      font-weight: 500;
      background-color: $white;
    }

    &-label {
      &--shortform {
        display: none;

        @media screen and (max-width: 947px) {
          display: block;
        }
      }

      &--longform {
        @media screen and (max-width: 947px) {
          display: none;
        }
      }
    }
  }

  &__links {
    display: flex;
  }

  &__main {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 50px;

    @media screen and (max-width: 1240px) {
      padding: 13px 30px;
    }

    @media screen and (max-width: 774px) {
      padding: 13px 20px;
    }

    @include mobile {
      height: 100%;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media print {
      display: none;
    }
  }

  &__booking.btn {
    margin-left: 50px;

    @media print {
      display: none;
    }

    @media screen and (max-width: 1240px) {
      margin-left: 40px;
    }

    @media screen and (max-width: 1140px) {
      margin-left: 25px;
    }

    @include mobile {
      margin-left: 0;
      margin-right: 15px;
      display: none;
    }

    @media screen and (max-width: 425px) {
      display: none;
    }
  }


  // Brand
  // --------------------------------------------------
  &__logo {
    transition: all $transition-duration;

    svg {
      display: block;
      width: 189px;
      height: 37px;
      fill: $white;
      transition: all 300ms;

      @media screen and (max-width: 1240px) {
        width: 149px;
      }

      @media screen and (max-width: 981px) {
        width: 119px;
      }
      //
      // @include mobile {
      //   fill: $brand-secondary-dark;
      // }
    }

    &:hover {
      opacity: .65;
    }

    &.is-fixed svg {
      fill: $brand-secondary-dark;
    }
  }
}

.goog-te-gadget-simple {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 1em;
  text-transform: uppercase;
}

.locale-label {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  font-size: .75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333338;
}

.locale-select {
  border: none;
  line-height: 30px;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333338;
  cursor: pointer;

  option {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
