.l-hero {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100%;
  margin-bottom: 120px;
  background-color: $lightest-gray;

  @include mobile {
    height: 100vh;
  }

  @include desktop {
    min-width: $container-width;
    min-height: 700px;
  }

  &--carousel {
    // height: calc(100vh + 135px);

    .l-hero {
      &__carousel {
        height: 100%;
        width: 100%;
        pointer-events: none;
        transform: translate3d(0,0,0);
        overflow: hidden;

        .swiper-wrapper {
          pointer-events: none;
        }
      }

      &__slide {
        position: relative;
        background-position: center;
        background-size: cover;
        transition: opacity 300ms;

        &.has-video {
          pointer-events: none !important; // stylelint-disable-line
        }

        @include mobile {
          &.has-video--playing {
            pointer-events: initial !important; // stylelint-disable-line
          }
        }

        &:not(.swiper-slide-active) {
          opacity: 0 !important; // stylelint-disable-line
        }

        &:after {
          bottom: -1px;
          height: 395px;
          background-image: linear-gradient(to top, $lightest-gray, rgba(249, 250, 251, 0));
        }
      }

      &__360,
      &__actions {
        @include desktop {
          bottom: 240px;
        }
      }

      &__experience-brand {
        @include desktop {
          height: calc(100vh - 135px);
        }
      }
    }
  }

  &__slide,
  &__experience {
    &:before,
    &:after {
      position: absolute;
      left: 0;
      z-index: 2;
      display: block;
      width: 100%;
      pointer-events: none;
      content: '';
    }

    &:before {
      top: 0;
      height: 600px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    }

    &:after {
      bottom: -1px;
      height: 395px;
      background-image: linear-gradient(to top, $lightest-gray, rgba(249, 250, 251, 0));
    }
  }

  &__experience {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__experience-brand {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    height: 100vh;
    pointer-events: none;

    svg {
      height: 100%;
      width: 374px;
      max-width: 30vh;
    }

    @include mobile {
      transform: translateX(-50%);

      svg {
        width: 80vw;
      }
    }
  }

  &__experience-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    transition: all 0s;
    object-fit: cover;

    &.is-hidden {
      transition-duration: 5s;
      opacity: 0;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 850px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    pointer-events: initial;

    &.is-visible {
      opacity: 1;

      @include mobile {
        pointer-events: none;
      }
    }

    .a-enter-vr.embedded {
      display: none;
    }
  }

  &__switch {
    position: absolute;
    top: calc(50vh - 20px);
    z-index: 2;
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: rgba(31, 41, 51, 0.5);
    border: 0;
    border-radius: 50%;
    outline: none;
    pointer-events: initial;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      fill: $white;
    }

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &--next {
      right: 42px;

      svg {
        transform: rotate(180deg) translate(50%, 50%);
      }

      span {
        right: 55px;
      }
    }

    &--prev {
      left: 42px;

      span {
        left: 55px;
      }
    }

    &-label {
      font-size: em(17);
      font-weight: $medium;
      letter-spacing: 0.6px;
      color: $white;
      text-shadow: 0 1px 1px rgba(0,0,0, 0.5);
      white-space: nowrap;
    }
  }

  &__actions {
    position: absolute;
    bottom: 84px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: opacity 300ms;
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;

    @include mobile {
      bottom: 120px;

      .btn {
        display: block;
        width: 80vw;
        max-width: 240px;
      }
    }

    &.is-visible,
    &.has-video {
      opacity: 1;
      transition-delay: 300ms;
      pointer-events: initial;
    }
  }

  &__action {
    text-shadow: 0 1px 1px rgba(0,0,0, 0.5);
    box-shadow: 0 1px 4px 0 rgba(0,0,0, 0.25);

    &:hover {
      text-shadow: 0 0 0 rgba(0,0,0, 0.5);
    }
  }

  &__360 {
    position: absolute;
    bottom: 84px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms;
    transition-delay: 0s;

    @include mobile {
      display: none;
    }

    &.is-visible {
      opacity: 1;
      transition-delay: 300ms;
    }

    > svg {
      display: block;
      margin: 0 auto;
    }

    &-instruction {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.8px;
      text-align: center;
      color: $white;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }
  }

  &__booking {
    position: absolute;
    left: 50%;
    top: calc(100% - 200px);
    transform: translateX(-50%);
    z-index: 50;
    min-height: 189px;
    width: 1207px;
    padding: 25px 35px 35px;
    background-color: $white;
    box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);

    @include mobile {
      display: none;
    }

    &-heading {
      @include h2;
      margin-bottom: 20px;
      color: $brand-secondary-dark;
    }
  }
}
