.l-locations {
  position: relative;
  margin-top: 100px;
  overflow: hidden;

  &__map,
  &__depots {
    height: calc(100vh - #{$header-height});
  }

  &__map {
    position: relative;
    left: 475px;
    width: calc(100vw - 475px);

    @include mobile {
      display: none;
    }
  }

  &__depots {
    position: absolute;
    top: 0;
    left: 0;
    width: 510px;
    overflow: scroll;
    -ms-overflow-style: none;

    @include mobile {
      overflow: auto;
      position: relative;
      width: 100%;
    }
  }

  &__country {
    position: sticky;
    z-index: 2;
    height: 40px;
    width: 475px;
    padding: 0 30px;
    line-height: 40px;
    font-size: em(13);
    font-weight: bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: $white;
    background-color: $brand-secondary;
    outline: none;
    cursor: pointer;

    @include mobile {
      width: 100%;
    }

    &--nz {
      top: 0;

      @include mobile {
        bottom: calc(100vh - 100px);
      }
    }

    &--au {
      bottom: 0;
      top: 0;
    }
  }

  &__depot {
    width: 475px;
    padding: 25px 47px 20px 30px;
    color: #4a4a4a;
    background-color: $white;
    border-right: 10px solid transparent;
    transition: all $transition-duration;
    border-bottom: solid 1px $lighter-gray;

    @include mobile {
      width: 100%;
    }

    &.is-active {
      position: relative;
      z-index: 1;
      width: 492px;
      border-bottom-color: transparent;
      border-right-color: $brand-primary-dark;
      box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);

      @include mobile {
        width: 100%;
      }
    }

    &-name {
      margin-bottom: 22px;
      font-size: em(18);
      font-weight: $medium;
      letter-spacing: 0.1px;
    }

    &-address {
      display: flex;
      align-items: center;
      width: 375px;
      margin-bottom: 10px;
      font-size: em(15);
      line-height: 1.73;

      @include mobile {
        width: 100%;
      }

      svg {
        display: block;
        margin-right: 12px;
      }
    }

    &-numbers {
      display: flex;
      margin-bottom: 17px;

      @include mobile {
        flex-direction: column;
      }
    }

    &-number {
      display: flex;
      align-items: center;
      font-size: em(15);
      line-height: 1.73;
      letter-spacing: 0.6px;

      a {
        color: #4a4a4a;

        &:hover {
          color: $brand-secondary;
        }
      }

      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    &-label {
      margin-right: 10px;
      font-size: em(14, 15);
      font-weight: bold;
      line-height: 1.71;
      letter-spacing: 1.9px;
      color: $light-gray;
    }

    &-details {
      font-size: em(14);
      font-weight: bold;
      letter-spacing: 1.8px;
      color: $brand-secondary;
      text-transform: uppercase;
    }
  }
}
