.l-location {
  padding-top: 170px;

  @include mobile {
    padding-top: 200px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 284px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    content: '';
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -18px;
    margin-bottom: 22px;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__address,
  &__directions {
    font-size: em(13);
    font-weight: $light;
    font-style: italic;
    line-height: 2;
    color: #222222;
  }

  &__address {
    display: flex;
    align-items: center;

    svg {
      display: block;
      margin-right: 7px;

      @include mobile {
        margin-right: 14px;
      }
    }
  }

  &__directions {
    margin-left: 10px;
    color: $brand-secondary-dark;
    font-weight: 500;
    font-style: normal;

    @include mobile {
      margin-left: 23px;
    }
  }

  &__book {
    @include desktop {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    @include mobile {
      margin-top: 15px;
      width: 100%;
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 32px 23px;
    margin: 0 -32px 35px;
    border-top: solid 1px #e4e7e9;
    border-bottom: solid 1px #e4e7e9;
  }

  &__detail {
    display: flex;
    width: 33.3333%;
    margin-bottom: 17px;
    font-size: em(14);
    line-height: 1.86;
    letter-spacing: 0.8px;
    color: #222;
    font-weight: $light;

    @include mobile {
      width: 100%;
      flex-wrap: wrap;
    }

    &--fw {
      width: 100%;
    }

    a {
      color: #222;
    }
  }

  &__label {
    margin-right: 20px;
    font-weight: $medium;
    text-transform: uppercase;
    color: $brand-secondary-dark;

    @include mobile {
      width: 100%;
      margin-right: 0;
    }
  }
}
