.modal {
  position: fixed;
  z-index: 601;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(255,255,255,0.75);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 10px;

  @include mobile {
    width: 80%;
  }

  @include desktop {
    width: 50%;
  }

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close {
  color: white;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.js-modal-close {
  float: right;
  margin-top: -4px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 12px 20px;
  color: #f8c513;
  background-color: #00386c;
  border-radius: 10px 10px 0 0;
}

.modal-body {
  padding: 15px 20px;
}

.modal-footer {
  padding: 10px 20px;
  color: #f8c513;
  border-top: 1px solid #ccc;
}

.modal-iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.modal-iframe {
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}