.l-page {
  padding: 170px 0 130px;
  background-size: auto 448px;
  background-position: center top;
  background-repeat: no-repeat;

  @include mobile {
    padding-top: 100px;
    padding-bottom: 0;
  }

  &__container {
    position: relative;
    z-index: 1;
    width: 887px;
    margin: 0 auto;
    padding: 42px 32px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);

    @include mobile {
      width: 100%;
      border-radius: 0;
    }
  }

  &__heading {
    width: 100%;
    margin-bottom: 38px;
  }

  &__content {
    h2 {
      margin: 0 -32px;
      margin-bottom: 28px;
      padding: 0 32px;
      font-size: em(16);
      font-weight: $medium;
      line-height: 1.62;
      color: #222;

      &:not(:first-child) {
        padding-top: 62px;
        border-top: solid 1px #e4e7e9;
      }
    }

    p,
    li,
    h3 {
      font-size: em(14);
      font-weight: $light;
      line-height: 1.86;
      color: #222;
      letter-spacing: 0.4px;
    }

    h3 {
      margin-top: 30px;
      font-weight: $regular;
    }

    ul,
    ol {
      margin-top: 28px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    li {
      margin-bottom: 5px;
    }

    a {
      font-weight: $light;
      font-style: italic;
      color: #222;

      &:hover {
        color: $brand-secondary;
      }
    }
  }
}
