.l-popular-cars {
  padding-bottom: 104px;

  &__heading {
    margin-bottom: 85px;
    text-align: center;

    @include mobile {
      margin-bottom: 50px;
    }
  }

  &__cards {
    .swiper-wrapper {
      align-items: flex-start;

      .swiper-slide {
        @include mobile {
          width: 80vw;
          max-width: 363px;
          min-width: 280px;
          // min-width: calc(100vw - 40px);
          padding: 0 10px;
        }

        @include desktop {
          padding: 0 20px;

          .c-vehicle-card {
            width: 100%;
          }
        }
      }
    }
  }

  &__more {
    text-align: center;
  }
}

.swiper-button-next.swiper-button-blue {
  background-image: url('../svg/swiper-arrow.svg');
  right: 0;
  margin-top: -45px;
  background-size: 45px 50px;
}

.swiper-button-prev.swiper-button-blue-prev {
  background-image: url('../svg/swiper-arrow.svg');
  transform: rotateY(180deg);
  left: 0;
  margin-top: -45px;
  background-size: 45px 50px;
}
