.l-promotion {
  padding-top: 170px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 284px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    content: '';
  }

  &__header {
    display: flex;

    @include mobile {
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
  }

  &__heading {
    width: 100%;
  }

  &__book.btn {
    flex-shrink: 0;
    margin-left: 70px;

    @include mobile {
      display: block;
      width: 100%;
      margin-left: 0;
    }
  }

  &__details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 0 30px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__terms {
    padding: 30px 32px 0;
    margin: 27px -32px 0;
    border-top: solid 1px #e4e7e9;
    font-size: em(11);
    font-weight: $light;
    line-height: 2.18;
    color: rgba(#222, 0.66);
  }

  &__code {
    text-align: center;
    font-size: em(21);
    line-height: 1.24;
    letter-spacing: 1.5px;
    text-align: center;
    color: $brand-secondary;

    &-instruction {
      margin-bottom: 9px;
      font-size: em(14, 21);
      font-weight: $light;
      font-style: italic;
      line-height: 1.43;
      letter-spacing: 0.1px;
      color: $darker-gray;
    }
  }

  &__detail {
    position: relative;
    display: flex;
    margin: 0 40px;
    max-width: 203px;
    padding-left: 32px;
    margin-bottom: 17px;
    font-size: em(14);
    line-height: 1.86;
    font-weight: $regular;
    color: #222;

    @include mobile {
      max-width: 100%;
      margin: 0 0 15px;
    }

    &--fw {
      width: 100%;
    }

    svg {
      position: absolute;
      top: 5px;
      left: 0;
      display: block;
      height: 14px;
      width: 11px;
    }
  }
}
