.l-related-vehicles {
  margin-top: 182px;
  overflow: hidden;

  @include mobile {
    margin-top: 50px;
  }

  &__heading {
    margin-bottom: 89px;
    text-align: center;
    font-size: 1.7125em;
    letter-spacing: .6px;

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__cards {
    .swiper-wrapper {
      align-items: flex-start;

      .swiper-slide {
        @include mobile {
          width: 80vw;
          max-width: 363px;
          min-width: 280px;
          // min-width: calc(100vw - 40px);
          padding: 0 10px;
        }

        @include desktop {
          padding: 0 20px;

          .c-vehicle-card {
            width: 100%;
          }
        }
      }
    }
  }
}
