.l-split-section {
  padding-bottom: 50px;

  @include desktop {
    &--reverse .container {
      flex-direction: row-reverse;

      .l-split-section__column--content {
        padding-right: 0;
        padding-left: 70px;
      }
    }

    &--narrow-content & {
      &__column--content {
        padding-right: 140px;
      }
    }
  }

  .container {
    display: flex;

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &__column {
    &--content {
      width: 50%;
      flex-grow: 1;
      padding-top: 30px;
      padding-right: 50px;

      @include mobile {
        width: 100%;
        padding-right: 0;
      }

      > p {
        font-size: em(15);
        font-weight: $light;
        line-height: 1.53;
        color: $darker-gray;
      }
    }

    &--image {
      width: 583px;
      flex-shrink: 0;
      padding-top: 30px;

      @include mobile {
        width: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 33px;
  }

  &__title_h2 {
    margin-bottom: 33px;
    font-size: 1.7125em;
    letter-spacing: .6px;
  }

  &__subtitle {
    margin-top: -21px;
    margin-bottom: 25px;
    font-size: em(15);
    font-weight: $medium;
    letter-spacing: 0.1px;
    color: $light-gray;
  }

  &__specifications {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 0;
    list-style: none;

    &-more {
      display: block;
      width: 100%;
      margin-bottom: 14px;
      font-size: em(13);
      font-weight: $medium;
      letter-spacing: 0.3px;
      color: $light-gray;
      text-transform: uppercase;
      text-align: center;
      border: 0;
      background-color: transparent;
      outline: none;
      cursor: pointer;

      svg {
        margin-right: 5px;
        fill: $light-gray;
      }

      &.is-active svg path:last-child {
        display: none;
      }
    }
  }

  &__specification {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 5px;
    font-size: em(13);
    color: $dark-gray;

    &--fw {
      width: 100%;
    }

    &-icon {
      display: block;
      height: 18px;
      margin-right: 10px;
    }

    &.is-hidden {
      display: none;
    }
  }
}
