.l-success {
  position: relative;
  padding: 170px 0;
  background-size: auto 492px;
  background-position: center bottom;
  background-repeat: no-repeat;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, $lightest-gray, $white 80%, rgba(255, 255, 255, 0));
    content: '';
  }

  .container,
  &__container {
    position: relative;
    z-index: 1;
  }

  &__heading {
    margin-bottom: 35px;
    text-align: center;
  }

  &__sub-heading {
    margin-bottom: 26px;
    font-size: em(14);
    letter-spacing: 0.6px;
    color: $light-gray;

    @include mobile {
      width: 100%;
    }
  }

  &__content {
    width: 545px;
    margin: 0 auto 66px;
    text-align: center;
    font-size: em(15);
    font-weight: $light;
    letter-spacing: 0.6px;
    line-height: 2;
    color: $black;

    @include mobile {
      width: 100%;
      padding: 0 15px;
    }
  }

  &__container {
    width: 1000px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0 2px 8px 0 rgba(118, 118, 118, 0.38);
    overflow: hidden;

    @include mobile {
      width: 100%;
      flex-direction: column;
      border-radius: 0;
    }
  }

  &__itinerary {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 82px 85px 90px;
    border-bottom: solid 1px #e4e7e9;

    @include mobile {
      padding: 40px;
      flex-direction: column;
    }

    &-item {
      font-size: em(15);
      letter-spacing: 0.6px;
      color: $black;

      @include mobile {
        margin-bottom: 15px;
        text-align: center;
      }
    }

    &-arrow {
      @include mobile {
        margin: 15px 0 30px;
        transform: rotate(90deg);
      }
    }

    &-label {
      margin-bottom: 11px;
      font-size: em(14, 15);
      letter-spacing: 0.6px;
      color: $light-gray;
    }

    &-location {
      display: flex;
    }
  }

  &__main {
    display: flex;
    padding: 57px 85px 68px;

    @include mobile {
      padding: 40px 0;
      flex-direction: column;
    }
  }

  &__vehicle {
    @include desktop {
      flex-grow: 1;
      padding-right: 72px;
    }

    @include mobile {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 50px;
    }

    &-info {
      width: 280px;
    }

    &-title {
      margin-bottom: 5px;
      font-size: em(16);
      letter-spacing: 0.4px;
      color: $black;
    }

    &-subtitle {
      margin-bottom: 5px;
      font-size: em(15);
      font-weight: $light;
      letter-spacing: 0.4px;
      color: #383838;
    }

    &-image {
      display: block;
      margin-bottom: 15px;
      width: 200px;
    }

    &-specifications {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;

      &-more {
        display: block;
        width: 100%;
        margin-bottom: 14px;
        font-size: em(13);
        font-weight: $medium;
        letter-spacing: 0.3px;
        color: $light-gray;
        text-transform: uppercase;
        text-align: center;
        border: 0;
        background-color: transparent;
        outline: none;
        cursor: pointer;

        @media print {
          display: none;
        }

        svg {
          margin-right: 5px;
          fill: $light-gray;
        }

        &.is-active svg path:last-child {
          display: none;
        }
      }
    }

    &-specification {
      display: flex;
      align-items: center;
      width: 50%;
      padding: 5px;
      font-size: em(13);
      color: $dark-gray;

      &-icon {
        display: block;
        height: 18px;
        margin-right: 10px;
      }

      &.is-hidden {
        display: none;

        @media print {
          display: flex;
        }
      }
    }
  }

  &__summary {
    flex-shrink: 0;
    flex-grow: 0;
    width: 470px;

    @include mobile {
      width: 100%;
    }

    &-row,
    &-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-row {
      padding: 23px 20px 23px 15px;
      font-size: em(15);
      border-bottom: solid 1px rgba(#979797, 0.36);

      &:first-child {
        padding-top: 0;
      }
    }

    &-total {
      padding: 26px 23px;
      margin-top: 5px;
      background-color: $brand-primary;

      &-label {
        font-size: em(20);
        font-weight: $light;
        letter-spacing: 0.8px;
        color: $darker-gray;
      }

      &-price {
        font-size: em(18);
        font-weight: $medium;
        letter-spacing: 0.5px;
        color: $darker-gray;
      }
    }

    &-label {
      font-weight: $light;
      color: $black;
      width: 200px;
    }

    &-price {
      letter-spacing: 0.4px;
      font-weight: bold;
      color: #383838;

      &-math {
        margin-right: 5px;
        color: $light-gray;
        font-weight: $regular;
      }
    }
  }

  &__checkin {
    padding-bottom: 47px;

    @include mobile {
      padding: 0 40px 47px;
    }

    @media print {
      display: none;
    }

    &-title {
      display: block;
      font-size: em(20);
      line-height: 1.25;
      color: $darker-gray;
      text-align: center;
    }

    &-action.btn {
      display: block;
      margin: 35px auto 0;
      width: 245px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 35px;
    background-color: $lightest-gray;

    @include mobile {
      flex-direction: column;
    }

    @media print {
      display: none;
    }
  }

  &__pdf {
    padding-right: 35px;
    font-size: em(14);
    font-weight: $medium;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: $darker-gray;

    @include mobile {
      padding-right: 0;
    }

    svg {
      display: block;
      margin-right: 15px;
    }
  }
}
