.l-vehicle {
  @include desktop {
    padding-bottom: 200px;
  }

  &__hero {
    position: relative;
    height: 717px;
    background-image: url('https://unsplash.it/1920/1080');
    background-size: cover;
    background-position: center;

    @include desktop {
      margin-top: -#{$header-height};
    }

    @include mobile {
      height: auto;
    }

    &:before,
    &:after {
      position: absolute;
      left: 0;
      z-index: 2;
      display: block;
      width: 100%;
      pointer-events: none;
      content: '';
    }

    &:before {
      top: 0;
      height: 600px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    }

    &:after {
      bottom: 0;
      // height: 395px;
      height: 1745px;
      background-image: linear-gradient(to top, $lightest-gray, transparent);
    }

    .container {
      position: relative;
      z-index: 3;

      @include desktop {
        height: 100%;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 75px;

    @include mobile {
      display: none;
    }

    img {
      display: block;
      width: calc(100% - 600px);
    }
  }
}
