.l-vehicle-filter {
  display: flex;
  align-items: center;
  height: 94px;
  padding: 0 35px;
  box-shadow: 0 4px 23px 0 rgba(158, 163, 167, 0.16);
  background-color: $white;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 20px 0;
    width: 343px;
    max-width: 100%;
    margin: 0 auto 30px;
  }

  &__label {
    width: 104px;
    font-size: em(14);
    font-weight: $medium;
    letter-spacing: 1.9px;
    color: #777d84;
    text-transform: uppercase;

    @include mobile {
      width: 100%;
      margin-bottom: 10px;
      padding: 0 20px;
    }
  }

  &__types {
    display: flex;
    flex-grow: 1;

    @include mobile {
      width: 100%;
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }

  &__type {
    width: auto;
    margin-right: 40px;

    @include mobile {
      width: 50%;
      min-width: calc((343px - 40px) / 2);
      margin-bottom: 15px;
      margin-right: 0;
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 50px;
    padding-left: 50px;
    border-left: solid 1px rgba(#979797, 0.29);

    @include mobile {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      margin-top: 5px;
      border-left: 0;
      border-top: solid 1px rgba(#979797, 0.29);
    }

    &-field {
      width: 286px;

      @include mobile {
        width: 100%;
      }
    }
  }
}
