.l-vehicle-media {
  margin-top: 15px;

  .container {
    display: flex;
  }

  &__items {
    display: flex;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style: none;

    @include mobile {
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &__item {
    background-color: $white;
    box-shadow: 0 4px 23px 0 rgba(182, 188, 193, 0.33);

    @include desktop {
      &:not(:last-child) {
        margin-right: 17.5px;
      }
    }

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 87px;
    height: 83px;
    outline: none;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 199, 0, 0.58);
      background-image: url('../svg/expand.svg');
      opacity: 0;
      transition: opacity 300ms;
      content: '';
    }

    &:hover:after {
      opacity: 1;
    }
  }

  &__preview {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
