.l-vehicle-features {
  margin-top: 85px;

  @include mobile {
    margin-top: 30px;
  }

  &__heading {
    margin-bottom: 83px;
    font-size: em(18);
    font-weight: $regular;
    text-align: center;
    letter-spacing: 0.4px;
    color: $darker-gray;

    @include mobile {
      margin-bottom: 30px;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }
  }

  &__feature {
    display: flex;
    margin-bottom: 30px;

    @include desktop {
      &:not(:last-child) {
        margin-right: 65px;
      }
    }

    &-image {
      flex-shrink: 0;
      height: 76px;
      width: 76px;
      margin-right: 35px;
      background-color: #d9e8f2;
      border-radius: 50%;
      overflow: visible;

      img {
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    &-title {
      margin-top: 8px;
      margin-bottom: 11px;
      font-size: em(16);
      font-weight: $medium;
      color: $darker-gray;
    }

    &-summary {
      width: 191px;
      font-size: em(15);
      font-weight: $light;
      line-height: 1.4;
      letter-spacing: .1px;
      color: $darker-gray;

      @include mobile {
        width: 100%;
      }
    }
  }
}
