
.l-vehicle-details {
  position: absolute;
  bottom: 0;
  width: 400px;
  padding: 50px 40px 40px;
  background-color: $white;
  box-shadow: 0 4px 23px 0 rgba(158, 163, 167, 0.16);

  @include mobile {
    position: relative;
    bottom: auto;
    width: 100%;
    margin-top: 140px;
    padding: 30px;
  }

  &__title {
    margin-bottom: 10px;

    @include mobile {
      padding: 0;
    }
  }

  &__subtitle {
    margin-bottom: 25px;
    font-size: em(18);
    font-weight: $medium;
    letter-spacing: 0.1px;
    color: $light-gray;
  }

  &__summary {
    margin-bottom: 25px;
    font-size: em(15);
    line-height: 1.53;
    color: $darker-gray;
  }

  &__specifications {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    &-more {
      display: block;
      width: 100%;
      margin-bottom: 14px;
      font-size: em(13);
      font-weight: $medium;
      letter-spacing: 0.3px;
      color: $light-gray;
      text-transform: uppercase;
      text-align: center;
      border: 0;
      background-color: transparent;
      outline: none;
      cursor: pointer;

      svg {
        margin-right: 5px;
        fill: $light-gray;
      }

      &.is-active svg path:last-child {
        display: none;
      }
    }
  }

  &__specification {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 5px;
    font-size: em(14);
    color: $dark-gray;

    &--fw {
      width: 100%;
    }

    img {
      display: block;
      height: 24px;
      margin-right: 12px;
    }

    &.is-hidden {
      display: none;
    }
  }

  &__action.btn {
    display: block;
    width: 273px;
    margin: 0 auto;
    box-shadow: 0 2px 7px 0 #ececec;

    @include mobile {
      width: 100%;
    }
  }
}
