.l-vehicle-panel {
  position: relative;
  z-index: 2;
  width: 481px;
  background-color: $white;
  border-right: 1px solid #e4e7e9;

  &__details-tab {
    display: none;
  }

  &__upgrade-tab {
    display: none;
  }

  @include mobile {
    display: none;
  }

  @media screen and (max-width: 1675px) {
    position: fixed;
    top: calc(#{$header-height} - 30px);
    left: 0;
    transform: translateX(-471px);
    height: calc(100vh - 101px - (#{$header-height} - 30px));
    transition: transform 300ms;
    box-shadow: 0 0 10px 0 rgba(158, 163, 167, 0.16);

    &__details-tab {
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      height: 36px;
      padding: 0 15px;
      line-height: 36px;
      font-size: em(13);
      letter-spacing: 2px;
      font-weight: $bold;
      color: $white;
      text-transform: uppercase;
      white-space: nowrap;
      background-color: $brand-secondary;
      border-radius: 7px 7px 0 0;
      transform: rotate(90deg);
      transform-origin: bottom left;
      box-shadow: 0 0 10px 0 rgba(158, 163, 167, 0.16);
    }

    &__upgrade-tab {
      display: block;
      position: absolute;
      top: 136px;
      left: 100%;
      height: 36px;
      padding: 0 15px;
      line-height: 36px;
      font-size: em(13);
      letter-spacing: 2px;
      font-weight: $bold;
      color: $brand-secondary;
      text-transform: uppercase;
      white-space: nowrap;
      background-color: #f8c513;
      border-radius: 7px 7px 0 0;
      transform: rotate(90deg);
      transform-origin: bottom left;
      box-shadow: 0 0 10px 0 rgba(158, 163, 167, 0.16);
    }
  }

  &__active {
    transform: translateX(0);
  }

  &__label {
    position: relative;
    z-index: 1;
    top: -33px;
    left: 10px;
    height: 36px;
    padding: 0 15px;
    line-height: 36px;
    font-size: .875em;
    letter-spacing: 2px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    max-width: 30%;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      background-color: $brand-secondary;
      border-radius: 0 0 7px 7px;
      content: '';
    }

    &:after {
      position: absolute;
      top: -18px;
      right: -18px;
      transform: scaleX(0.6);
      z-index: -2;
      height: 0;
      width: 0;
      border: solid transparent;
      border-bottom-color: $brand-secondary-dark;
      border-width: 18px;
      pointer-events: none;
      content: '';
    }
  }

  &__inner {
    height: 100%;
    width: 100%;
    padding: 45px 60px 40px;
    overflow-y: auto;
    text-align: center;
  }

  &__title {
    font-size: em(27);
    letter-spacing: 0.7px;
    color: $dark-gray;
  }

  &__subtitle {
    font-size: em(19);
    font-weight: $light;
    letter-spacing: 0.1px;
    color: rgba(31, 41, 51, 0.8);
  }

  &__image {
    display: block;
    margin-bottom: 15px;
    max-width: 85%;
  }

  &__summary {
    margin-bottom: 25px;
    font-size: em(15);
    line-height: 1.53;
    color: $darker-gray;
  }

  &__specifications {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    padding: 0;
    list-style: none;
  }

  &__specification {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 36px;
    margin-bottom: 15px;
    padding: 0 25px;
    font-size: em(15);
    color: $dark-gray;

    img {
      display: block;
      margin-right: 12px;
    }
  }

  &__upgrade {
    margin-top: 75px;
    padding-top: 15px;
    box-shadow:
      0 4px 23px 0 rgba(182, 188, 193, 0.33),
      0 0 14px 0 rgba(0, 78, 149, 0.17),
      0 0 0 2px white inset;
    border-radius: 8px;

    img {
      display: block;
      max-width: 100%;
      padding: 0 40px;
    }

    &-subtitle {
      font-size: em(19);
      font-weight: 700;
      letter-spacing: 0.1px;
      color: rgba(31, 41, 51, 0.8);
      margin: 0;
    }

    &-price {
      margin-left: 35px;
    }

    &-footer {
      padding: 10px;
    }
  }

  &__total {
    text-align: left;

    &-details {
      font-size: .94em;
    }
  }

  &__degrade {
    margin-top: 50px;
    padding-top: 1px;
  }

  &__afterhour {
    text-align: left;
    font-size: 13px;
    display: block;
    margin-top: 30px;
    padding-top: 10px;
  }
}
