.l-why-features {
  padding-bottom: 132px;

  &__heading {
    margin-bottom: 94px;
    text-align: center;
    font-size: 1.7125em;
    letter-spacing: .6px;

    @include mobile {
      margin-bottom: 50px;
    }
  }

  &__features {
    display: flex;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }
  }

  &__feature {
    width: calc(25% - 28px);
    margin: 0 14px;
    text-align: center;

    @include mobile {
      width: 100%;
      padding: 0 15px;
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__feature-image {
    display: block;
    height: 141px;
    margin: 0 auto 40px;
  }

  &__feature-title {
    margin-bottom: 19px;
    font-size: em(16);
    font-weight: $medium;
    color: $darker-gray;
  }

  &__feature-description {
    font-size: em(15);
    font-weight: $light;
    line-height: 1.4;
    letter-spacing: 0.1px;
    color: $darker-gray;
  }
}
