// ==================================================
// Mobile Navigation
// ==================================================

.mob-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  height: 0;
  width: 100%;

  @include desktop {
    display: none;
  }
}

.mob-nav {
  $top: &;
  position: sticky;
  top: 0;
  opacity: 0;
  transform: scale(1.5);
  height: calc(100vh + 1px);
  overflow: hidden;
  pointer-events: initial;
  transition: all $transition-duration cubic-bezier(.17,.67,.83,.67);
  background-image: url('https://unsplash.it/450/750/?image=757');
  background-position: center;
  background-size: cover;
  pointer-events: none;

  &--open {
    // transform: translateX(0);

    opacity: 1;
    transform: scale(1);
    pointer-events: initial;
  }

  &__btn {
    margin: 15px;
  }

  &__trigger,
  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    color: $white;
    font-size: em(18);
    line-height: 60px;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;

    &:active,
    &:visited,
    &:focus {
      color: $white;
    }

    svg {
      position: absolute;
      top: 50%;
      right: -15px;
      transform: translateY(-50%);
      fill: $white;
    }
  }

  &__trigger {
    &--back {
      position: absolute;
      top: 70px;
      left: 0;
      letter-spacing: 2px;
      font-size: .7em;
      font-weight: $semibold;
      text-align: center;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.4);

      svg {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%) rotate(180deg);
        fill: $white;
      }
    }
  }

  &__menu {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 120px 0;
    // padding-top: $mob-header-height;
    list-style: none;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.4) inset;
    backdrop-filter: blur(10px);

    &--open {
      z-index: 2;
    }

    &--parents,
    &--children {
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
      transition: all $transition-duration cubic-bezier(.17,.67,.83,.67);
    }

    &--parents {
      // transform: translateX(0%);

      &.mob-nav__menu--closed {
        opacity: 0;
        transform: scale(1.5);
        // transform: translateX(-100%);
      }
    }

    &--children {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: translateX(100%);

      &.mob-nav__menu--open {
        transform: translateX(0%);
      }

      &.mob-nav__menu--closed {
        transform: translateX(-100%);
      }
    }
  }
}

// --------------------------------------------------
// Hamburger Trigger
// --------------------------------------------------

$hamburger-line-width:                      24px;
$hamburger-line-height:                     3px;
$hamburger-line-spacing:                    5px;
$hamburger-line-border-radius:              4px;
$hamburger-line-color:                      $brand-primary;

.hamburger {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;

  @include desktop {
    display: none;
  }

  &__box {
    position: relative;
    display: block;
    background-color: transparent;
    height: 45px;
    width: 45px;
    border-radius: 10px;
  }

  &__inner {
    top: 50%;
    left: calc(50% - #{$hamburger-line-width} / 2);
    display: block;
    width: $hamburger-line-width;
    height: $hamburger-line-height * 3 + $hamburger-line-spacing * 2;
    margin-top: $hamburger-line-height / -2;
    transition-duration: $transition-duration;
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);

    &,
    &:before,
    &:after {
      position: absolute;
      width: $hamburger-line-width;
      height: $hamburger-line-height;
      background-color: $hamburger-line-color;
      border-radius: $hamburger-line-border-radius;
      transition-duration: .15s;
      transition-property: transform;
      transition-timing-function: ease;
    }

    &:before,
    &:after {
      display: block;
      content: '';
    }

    &:before {
      top: ($hamburger-line-spacing + $hamburger-line-height) * -1;
      transition: top .1s .34s ease-in;
    }

    &:after {
      bottom: ($hamburger-line-spacing + $hamburger-line-height) * -1;
      transition:
        bottom .1s .34s ease-in,
        transform .3s cubic-bezier(.55,.055,.675,.19);
    }
  }

  &--active {
    .hamburger__inner {
      transform: rotate(225deg);
      transition-delay: .14s;
      transition-timing-function: cubic-bezier(.215,.61,.355,1);

      &:before {
        top: 0;
        transition: top .1s ease-out;
      }

      &:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition:
          bottom .1s ease-out,
          transform .3s .14s cubic-bezier(.215,.61,.355,1);
      }
    }
  }
}
