// ==================================================
// Desktop Navigation
// ==================================================

.l-navigation {
  flex-grow: 1;

  @include mobile {
    display: none;
  }

  &__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-left: 50px;

    @media screen and (max-width: 1240px) {
      margin-left: 40px;
    }

    @media screen and (max-width: 1140px) {
      margin-left: 25px;
    }

    @media screen and (max-width: 981px) {
      &--contact,
      &--deals {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 0;
    color: $white;
    font-weight: $medium;
    letter-spacing: 1.2px;
    font-size: em(12);
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

    &:focus,
    &:hover,
    &:active {
      color: $white;
    }

    &:before {
      position: absolute;
      top: -27px;
      left: -10px;
      height: 0;
      width: calc(100% + 20px);
      background-color: $brand-primary;
      transition: height 300ms;
      content: '';
    }

    @media screen and (max-width: 1140px) {
      font-size: em(13);
    }

    &.is-fixed {
      color: $darker-gray;
      font-weight: $regular;
    }

    &:hover:before,
    &--current:before {
      height: 4px;
    }
  }
}
