body:not(.is-ie) .beach-hopping.is-active .beach-hopping {
  &.experience-brand {
    transform: translate(0,0);
  }

  &__waves {
    animation: Wave 2s cubic-bezier(0.175, 0.885, 0.32, 1.575) both;
    animation-delay: 0.5s;
    transform-origin: bottom;
  }

  &__beach path {
    animation: SwingIn 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation-delay: 0s;

    @for $i from 0 to 100 {
      &:nth-child(#{$i}) {
        animation-delay: calc(0s + (100ms * #{$i}));
      }
    }
  }

  &__hopping {
    path {
      animation: BounceIn 2s both;
      animation-delay: .5s;
    }

    @for $i from 0 to 100 {
      path:nth-child(#{$i}) {
        animation-delay: calc(.5s + (50ms * #{$i}));
      }
    }
  }

  @keyframes SwingIn {
    0% {
      transform: rotateX(-100deg);
      transform-origin: top;
      opacity: 0;
    }

    100% {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
    }
  }

  @keyframes BounceIn {
    0% {
      transform: translateY(100px);
      animation-timing-function: ease-in;
      opacity: 0;
    }

    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }

    55% {
      transform: translateY(25px);
      animation-timing-function: ease-in;
    }

    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }

    81% {
      transform: translateY(10px);
      animation-timing-function: ease-in;
    }

    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }

    95% {
      transform: translateY(3px);
      animation-timing-function: ease-in;
    }

    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }

  @keyframes Wave {
    0% {
      transform: rotateX(-90deg);
    }

    100% {
      transform: rotateX(0deg);
      transform-origin: bottom;
    }
  }
}
