body:not(.is-ie) .grid-escaping.is-active .grid-escaping {
  &__grid {
    animation: scaleIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: .5s;
    transform-origin: center;
  }

  &__block-1 {
    animation: unFold1 .5s linear both;
    animation-delay: .5s;
    transform-origin: right;
  }

  &__block-2 {
    animation: unFold1 .5s linear both;
    animation-delay: 0s;
    transform-origin: right;
  }

  &__.block-3 {
    animation: unFold2 .5s linear both;
    animation-delay: 0s;
    transform-origin: left;
  }

  &__block-4 {
    animation: unFold2 .5s linear both;
    animation-delay: .5s;
    transform-origin: left;
  }
}

@keyframes unFold1 {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@keyframes unFold2 {
  from {
    transform: rotateY(-90deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
