body:not(.is-ie):not(.is-edge) .memory-making {
  &.is-active .memory-making {
    &__memory path {
      animation-name: FillIn;
    }

    &__making {
      animation-name: DrawLine;
    }

    &__sun-fill {
      animation-name: SunRise;
    }
  }

  &__memory {
    path {
      fill-opacity: 0;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-delay: 0;
      animation-duration: 3s;
    }

    @for $i from 1 to 100 {
      path:nth-child(#{$i}) {
        animation-delay: calc(300ms * #{$i});
      }
    }
  }

  &__making {
    $dash: 700;
    stroke-width: 3px;
    animation-delay: 1s;
    animation-duration: 6s;
    stroke-dasharray: $dash;
    stroke-dashoffset: $dash;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    stroke-width: 1px;
  }

  &__sun-fill {
    transform: translateY(100%);
    animation-duration: 2s;
    animation-fill-mode: both;
  }
}

@keyframes SunRise {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

@keyframes DrawLine {
  from { stroke-dashoffset: 700; }
  to { stroke-dashoffset: 0; }
}

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}
