body:not(.is-ie-11) {
  .snow-shredding {
    &.is-active .snow-shredding {
      &__draw {
        animation-name:
          DrawLine,
          FadeStroke,
          FillIn;
      }
    }

    &__draw {
      fill-opacity: 1;
    }
  }
}

.snow-shredding {
  fill: #fff;
  stroke: #fff;
  stroke-miterlimit: 5;

  &__draw {
    fill-opacity: 0;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration:
      4s,
      1s,
      1s;
    animation-delay:
      0s,
      3.5s,
      3.5s;

    &--text {
      $dash: 700;
      animation-delay:
        2s,
        3.5s,
        3.5s;
      animation-duration:
        2s,
        1s,
        1s;
      stroke-dasharray: $dash;
      stroke-dashoffset: $dash;
    }

    &--mountain {
      $dash: 625;
      animation-delay:
        2s,
        3.5s,
        3.5s;
      animation-duration:
        2s,
        1s,
        1s;
      stroke-dasharray: $dash;
      stroke-dashoffset: $dash;
    }

    &--slopes {
      $dash: 625;
      animation-delay:
        1s,
        3.5s,
        3.5s;
      animation-duration:
        3.5s,
        1s,
        1s;
      stroke-dasharray: 1500;
      stroke-dashoffset: 1500;
    }
  }

  @keyframes DrawLine {
    to { stroke-dashoffset: 0; }
  }

  @keyframes FadeStroke {
    to { stroke-opacity: 0; }
  }

  @keyframes FillIn {
    from { fill-opacity: 0; }
    to { fill-opacity: 1; }
  }
}
