body:not(.is-ie-11) .town-painting.is-active .town-painting {
  &__paint-fill {
    animation-name: Brush;
    animation-duration: 2s;
  }

  &__town path {
    animation: Flicker 2s linear both;
    animation-delay: 0s;

    @for $i from 0 to 100 {
      &:nth-child(#{$i}) {
        animation-delay: calc(0s + (100ms * #{$i}));
      }
    }
  }

  @keyframes Brush {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }

  @keyframes Flicker {
    0%,
    10%,
    10.2%,
    20%,
    20.6%,
    30%,
    30.6%,
    45%,
    55.1%,
    57%,
    60.1%,
    65%,
    75.1%,
    77%,
    85.1%,
    86% {
      opacity: 0;
    }

    10.1%,
    20.1%,
    30.1%,
    30.5%,
    45.1%,
    50%,
    55%,
    57.1%,
    60%,
    65.1%,
    75%,
    77.1%,
    85%,
    86.1%,
    100% {
      opacity: 1;
    }
  }
}
